table.tabela_vnosov{
  width:100%;
  border-spacing:0;
  border: 2px solid black;
  border-collapse: collapse; 
  display:inline-block
  }

table.tabela_vnosov th{
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 4vh
  }

table.tabela_vnosov td{
  font-size: 3vmin;
  text-align: center;
  padding: 1vmin;
  border: 1px solid grey;
  border-collapse: collapse;
  }

table.tabela_podatkov{
  width:80%;
  margin-bottom:1%;
  display:inline-block
}
table.tabela_podatkov td.info{
  width:12%;
  font-size: 3vmin;
  text-align: left;
}
table.tabela_podatkov td.podatek{
  width:20%;
  font-size: 3vmin;
  text-align: left;
}
