{% extends 'program/base.html' %}


{% load zaloga_exstras %}

{% block content %}

<style>
    .okence{
        width:80%
    }
</style>
{% if strosek == None %}
    <h2> Nov strosek </h2>
    <div style="margin:2%;display:inline-block;width:50%">
        <table class="tabela_podatkov" style="padding:2%;border: 1px solid black">
            <tr>
                <td width="15%"> Title: </td>
                <td width="35%"> <input class="okence" tpye="text" form="nov_strosek" name="title" autocomplete="off" required>
                <td width="15%"> Tip: </td>
                <td width="35%">
                    <select id="tip" onclick="Sprememba_tipa()" class="okence" name="tip" form="nov_strosek">
                        {% for tip in zaloga.tipi_stroskov %}
                            <option value="{{tip.0}}"> {{tip.1}} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td> Datum: </td>
                <td> <input type="date" class="okence" form="nov_strosek" name="datum" value="{{zaloga.danes}}">
                <td hidden="hidden" class="kontejner"> Kontejner: </td>
                <td hidden="hidden" class="kontejner">
                    <select id="kontejner" name="kontejner" form="nov_strosek">
                        {% for kontejner in kontejnerji %}
                            <option value="{{kontejner.pk}}"> {{kontejner.stevilka}} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <form id="nov_strosek" action="{% url 'nov_strosek' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Nov strosek">
    </form>
{% else %}
    <h2> Strosek </h2>
    <div style="width:60%;display:inline-block" class="table">
        <table class="tabela_vnosov">
            {% if strosek.tip == "kontejner" %}
                <tr>
                    <td> Kontejner </td>
                    <td colspan="2"> {{strosek.kontejner.stevilka}} </td>
                </tr>
            {% endif %}
            <tr class="header">
                {% if tip == "placa" %}
                    <th> Zaposleni: </td>
                {% else %}
                    <th> Tip: </td>
                {% endif %}
                <th> Znesek: </td>
                <th> Edit: </td>
            </tr>
            {% for vnos in vnosi %}
                <tr>
                    <td> {{vnos.title}} </td>
                    <td> {{vnos.znesek}} $ </td>
                    <td>
                        <form style="display:inline-block" action="{% url 'strosek_izbris_vnosa' strosek.pk vnos.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Izbris">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr class="nov_vnos_row" hidden="hidden">
                {% if strosek.tip == "placa" %}
                    <td>
                        <select name="zaposleni" form="nov_vnos">
                            {% for delavec in zaposleni %}
                                <option value="{{delavec.id}}"> {{delavec.username}} </option>
                            {% endfor %}
                        </select>
                    </td>
                {% elif strosek.tip == "kontejner" %}
                <td> 
                    <select  onchange="Sprememba_tipa_vnosa()" name="tip" form="nov_vnos">
                        <option value="Ladijski prevoz" > Ladijski prevoz </option>
                        <option value="Carina" > Carina </option>
                        <option value="Nakup" > Nakup </option>
                        <option value="Prevoz" > Prevoz </option>
                        <option value="Delo" > Delo </option>
                        <option value="drugo" id="drugo_option"> Drugo </option>
                    </select>
                    <input hidden="hidden" type="text" value="" id="drugo_input">
                </td>
                {% else %}
                    <input type="text" name="tip" form="nov_vnos">
                {% endif %}
                <td> <input type="text" name="znesek" form="nov_vnos" value="" autocomplete="off" required pattern="[0-9][0-9]?\.{0,1}[0-9]{0,2}"> $ </td>
                <td>
                    <form id="nov_vnos" action="{% url 'strosek_nov_vnos' strosek.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="POTRDI">
                    </form>
                </td>
            </tr>
            <tr>
                <th> Skupno: </th>
                <th> {{strosek.skupni_znesek}} $ </th>
                <th> 
                    <button onclick="Nov_vnos()" class="nov_vnos_button"> Nov vnos </button>
                    <button hidden="hidden" onclick="Preklici_nov_vnos()" class="preklici_vnos_button"> Preklici </button>
                </th>
            </tr>
        </table>
    </div>
    <form style="margin-top:3%" action="{% url 'uveljavi_strosek' strosek.pk %}" method="POST">
        {% csrf_token %}
        <input style="width:150px;height:40px" type="submit" value="Uveljavi">
    </form>

{% endif %}

<script>
    function Sprememba_tipa(){
        var tipbox = document.getElementById("tip");
        var tip = tipbox.options[tipbox.selectedIndex].value;
        if( tip == "kontejner"){
            toggle('kontejner','inline-block')
        }else{
            toggle('kontejner','none')
        }
    }
    function Nov_vnos(){
        toggle('nov_vnos_row','inline-block')
        toggle('nov_vnos_button','none')
        toggle('preklici_vnos_button','inline-block')
    }
    function Preklici_nov_vnos(){
        toggle('nov_vnos_row','none')
        toggle('nov_vnos_button','inline-block')
        toggle('preklici_vnos_button','none')
    }
</script>
{% endblock %}