{% extends 'program/base.html' %}


{% load zaloga_exstras %}

{% block content %}

<style>
    .okence{
        width:80%
    }
</style>

<h1 style="margin-top:3%"> Porocilo prometa </h1>

<div class="filter" style="margin-top:3%">
    <form action="{% url 'porocilo'%}" method="GET">
        {{slovar|keyvalue:'Od'|keyvalue:jezik}}: <input type="date" value="{{od}}" name="od">
        {{slovar|keyvalue:'Do'|keyvalue:jezik}}: <input type="date" value="{{do}}" name="do">
        <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}">
    </form>
</div>

<div style="margin-top:2%;display:inline-block;width:60%">
    <table class="tabela_vnosov">
        <tr>
            <td> {{slovar|keyvalue:'Datum'|keyvalue:jezik}}: </td>
            <td> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </td>
            <td> {{slovar|keyvalue:'Title'|keyvalue:jezik}}: </td>
            <td> {{slovar|keyvalue:'Znesek'|keyvalue:jezik}}: </td>
            <td> {{slovar|keyvalue:'Stanje'|keyvalue:jezik}}: </td>
        </tr>
        {% for sprememba in promet %}
            <tr>
                <td> {{sprememba.datum}} </td> 
                <td> {{slovar|keyvalue:sprememba.tip|keyvalue:jezik}} </td> 
                <td> {{sprememba.title}} </td>
                {% if sprememba.znesek < 0 %}
                    <td> <div style="color:red">{{sprememba.znesek}} $</div> </td>
                {% else %}
                     <td> <div style="color:green">+{{sprememba.znesek}} $</div> </td>
                {% endif %}
                {% if pretok|keyvalue:forloop.counter0 < 0 %}
                    <td> <div style="color:red">{{pretok|keyvalue:forloop.counter0}} $</div> </td>
                {% else %}
                     <td> <div style="color:green">+{{pretok|keyvalue:forloop.counter0}} $</div> </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <th colspan="4"> {{slovar|keyvalue:'Koncno stanje'|keyvalue:jezik}}  </th>
            {% if skupno < 0 %}
                <th> <div style="color:red">{{skupno}} $</div> </th>
            {% else %}
                <th> <div style="color:green">+{{skupno}} $</div> </th>
            {% endif %}
        </tr>
    </table>
</div>

{% endblock %}