{% extends 'program/base.html' %}


{% load zaloga_exstras %}

{% block content %}

<style>
    .okence{
        width:80%
    }
</style>

<h1 style="margin-top:3%"> Porocilo prodaje </h1>

<div class="filter" style="margin-top:3%">
    <form action="{% url 'porocilo_prodaje' %}" method="GET">
        {{slovar|keyvalue:'Od'|keyvalue:jezik}}: <input type="date" value="{{od}}" name="od">
        {{slovar|keyvalue:'Do'|keyvalue:jezik}}: <input type="date" value="{{do}}" name="do">
        <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}">
    </form>
</div>

<div style="margin-top:2%;display:inline-block;width:70%">
    <table class="tabela_vnosov">
        <tr>
            <th rowspan="2" width="15%"> {{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}: </th>
            <th rowspan="2" width="7%"> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </th>
            <th colspan="2"> {{slovar|keyvalue:'Vele prodaja'|keyvalue:jezik}}: </th>
            <th colspan="2"> {{slovar|keyvalue:'Dnevna prodaja'|keyvalue:jezik}}: </th>
            <th colspan="2"> {{slovar|keyvalue:'Skupno'|keyvalue:jezik}}: </th>
        </tr>
        <tr>
            <th width="13%"> {{slovar|keyvalue:'Stevilo'|keyvalue:jezik}}: </th>
            <th width="13%"> {{slovar|keyvalue:'Cena'|keyvalue:jezik}}: </th>
            <th width="13%"> {{slovar|keyvalue:'Stevilo'|keyvalue:jezik}}: </th>
            <th width="13%"> {{slovar|keyvalue:'Cena'|keyvalue:jezik}}: </th>
            <th width="13%"> {{slovar|keyvalue:'Stevilo'|keyvalue:jezik}}: </th>
            <th width="13%"> {{slovar|keyvalue:'Cena'|keyvalue:jezik}}: </th>
        </tr>
        {% for sestavina in sestavine %}
            <tr>
                <td> {{sestavina.0|split:'-'|keyvalue:0}}</td> 
                <td> {{sestavina.0|split:'-'|keyvalue:1}} </td> 
                <td>{{sestavina.1.stevilo_vele_prodaje}}</td>
                <td>{{sestavina.1.cena_vele_prodaje}} $</td>
                <td>{{sestavina.1.stevilo_dnevne_prodaje}}</td>
                <td>{{sestavina.1.cena_dnevne_prodaje}} $</td>
                <td> {{sestavina.1.stevilo}} </td>
                <td> {{sestavina.1.cena}} $ </td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2"> {{slovar|keyvalue:'Skupno'|keyvalue:jezik}}  </th>
            <th>{{skupno.stevilo.vele_prodaja}}</th>
            <th>{{skupno.cena.vele_prodaja}} $</th>
            <th>{{skupno.stevilo.dnevna_prodaja}}</th>
            <th>{{skupno.cena.dnevna_prodaja}} $</th>
            <th>{{skupno.stevilo.skupno}}</th>
            <th>{{skupno.cena.skupno}} $</th>
        </tr>
    </table>
</div>

{% endblock %}