{% extends 'program/base.html' %}


{% load zaloga_exstras %}

{% block content %}

<style>
    .okence{
        width:80%
    }
</style>

<h1 style="margin-top:3%"> Porocilo prometa </h1>

<div class="filter" style="margin-top:3%">
    <form action="{% url 'arhiv_baz' tip %}" method="GET">
        {{slovar|keyvalue:'Od'|keyvalue:jezik}}: <input type="date" value="{{zacetek}}" name="zacetek">
        {{slovar|keyvalue:'Do'|keyvalue:jezik}}: <input type="date" value="{{konec}}" name="konec">
        {{slovar|keyvalue:'Stranka'|keyvalue:jezik}}:
        <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}">
    </form>
</div>

<div style="margin-top:2%;display:inline-block;width:60%">
    <table class="tabela_vnosov">
        <tr>
            <td> {{slovar|keyvalue:'Datum'|keyvalue:jezik}}: </td>
            <td> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </td>
            <td> {{slovar|keyvalue:'Znesek'|keyvalue:jezik}}: </td>
            <td> {{slovar|keyvalue:'Stanje'|keyvalue:jezik}}: </td>
        </tr>
        {% for promet in porocilo %}
            {% if promet.tip = "strosek" %}
            <tr>
                <td> {{promet.datum}} </td>
                <td> {{promet.title}} </td>
                <td> {{promet.skupni_znesek}} </td>
                <td> 
                    {{skupno|keyvalue:forloop.counter0}}
                    <button> V </button> 
                </td>
            </tr>
                {% for strosek in promet.vrni_stroske %}
                    <tr hidden="hidden">
                        <td></td>
                        <td> {{strosek.title}} </td>
                        <td> {{strosek.znesek}} </td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% elif promet.tip == "profit" %}
                <tr>
                    {% if promet.baza != None %}
                        <td> {{promet.baza__datum}} </td>
                        <td> {{promet.baza__title}} </td>
                    {% elif promet.dnevna_prodaja != None %}
                        <td> {{promet.dnevna_prodaja__datum}} </td>
                        <td> Dnevna prodaja </td>
                    {% endif %}
                    <td> {{promet.skupni_znesek}} </td>
                    <td> 
                        {{skupno|keyvalue:forloop.counter0}}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td> Koncno stanje </td>
            <td> {{stanje}} </td>
        </tr>
    </table>
</div>



{% endblock %}