{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}

<h1 style="margin-top:2%"> {{zaposleni.ime}} </h1>

<h2 style="margin-top:2%"> Podatki zaposlenega: </h2>

<div style="display:inline-block;width:70%;text-align:center">
    <table style="padding:1%;border:1px solid black" class="tabela_podatkov">
        <tr>
            <th width="33%" colspan="2"> {{slovar|keyvalue:'Osebni podatki'|keyvalue:jezik}}: </th>
            <th width="42%" colspan="2"> {{slovar|keyvalue:'Naslov'|keyvalue:jezik}}: </th>
            <th width="25%" colspan="2"> {{slovar|keyvalue:'Kontakt'|keyvalue:jezik}}: </th>
        </tr>
        <tr>
            <td> {{slovar|keyvalue:'Ime'|keyvalue:jezik}}: </td>
            <td> <input form="spremeni" value="{{zaposleni.ime}}" name="ime" type="text" required autocomplete="off"> </td>
            <td> {{slovar|keyvalue:'Drzava'|keyvalue:jezik}}: </td>
            <td> <input form="spremeni" value="{{zaposleni.naslov.drzava}}" name="drzava" type="text" required autocomplete="off"> </td>
            <td> {{slovar|keyvalue:'Telefon'|keyvalue:jezik}}: </td>
            <td> <input form="spremeni" name="telefon" value="{{zaposleni.telefon}}" type="text" autocomplete="off"> </td>
        </tr>
        <tr>
            <td> {{slovar|keyvalue:'Priimek'|keyvalue:jezik}}: </td>
            <td> <input form="spremeni" value="{{zaposleni.priimek}}" name="priimek" type="text" required autocomplete="off"> </td>
            <td> {{slovar|keyvalue:'Mesto'|keyvalue:jezik}}: </td> 
            <td> <input form="spremeni" value="{{zaposleni.naslov.mesto}}" name="mesto" type="text" required autocomplete="off"> </td>
        </tr>
        <tr>
            <td> {{slovar|keyvalue:'Davcna'|keyvalue:jezik}}: </td>
            <td> <input form="spremeni" value="{{zaposleni.davcna}}" name="davcna" type="text" autocomplete="off"> </td>
            <td> {{slovar|keyvalue:'Ulica'|keyvalue:jezik}}: </td>
            <td> <input form="spremeni" value="{{zaposleni.naslov.naslov}}" name="naslov" type="text" required autocomplete="off"> </td>
            <td> Zaloga: </td>
            <td> Zaloga </td>
        </tr>
    </table>
    <form id="spremeni" action="{% url 'sprememba_zaposlenega' zaposleni.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{{slovar|keyvalue:'Spremeni'|keyvalue:jezik}}">
    </form>
</div>

{% endblock %}