<script>

    function SpremeniCeno(pk, cena, funkcija){
        $.ajax({
            url: '{% url "spremeni_ceno" %}',
            method: 'POST',
            data: {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'pk': pk,
            'cena': cena,
            },
            dataType: 'json',
            success: function (data) {
                funkcija(data)
            }
        });
    }
    function IzbrisiRacun(pk, funkcija){
        $.ajax({
            url: '{% url "izbrisi_racun" %}',
            method: 'POST',
            data: {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'pk': pk,
            },
            dataType: 'json',
            success: function (data) {
                funkcija(data)
            }
        });
    }
</script>
