{% load staticfiles %}

{% load zaloga_exstras %}

<html>
    <head>
        <title> Home </title>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    </head>

    <script src="{% static 'js/filter.js' %}"></script>
    <script src="{% static 'js/poskus.js' %}"></script>
    <script src="{% static 'js/funkcije.js' %}"></script>
    
    <body>
        {% include "css/tabele.html" %}
        {% include "css/navbar.html" %}

        <div style="width:100%;height:85.2%;vertical-align:top;text-align:center;overflow:auto">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            {% for jezik in program.vrni_jezike %}
                <form style="display:inline-block" action="{% url 'spremeni_jezik' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="jezik" value="{{jezik.0}}">
                    <input type="submit" value="{{jezik.0}}">
                </form>
            {% endfor %}
        </div>
    </body>
</html>