        Radius:
            <select id='radius' name="radius" onchange="SpremeniRadius()">
                <option value="all"> All </option>
                {% for rad in zaloga.vrni_razlicne_radiuse %}
                    {% if rad == radius %}
                        <option value="{{rad}}" selected> {{rad}} </option>
                    {% else %}
                        <option value="{{rad}}"> {{rad}} </option>
                    {% endif %}
                {% endfor %}    
            </select>
            Height:
            <select id="height" name="height" onchange="SpremeniHeight()">
                <option value="all"> All </option>
            </select>
            width:
            <select id="width" name="width" onchange="SpremeniWidth()">
                <option value="all"> All </option>
            </select>

<script type='text/javascript'>
    function SpremeniRadius() {
        var radiusbox = document.getElementById("radius");
        var Radiusvalue = radiusbox.options[radiusbox.selectedIndex].value;
        var dimenzije = [];
        var dimarray;
        {% for dimenzija in dimenzije %}
            dimarray = [];
            dimarray.push("{{dimenzija.1}}");
            dimarray.push("{{dimenzija.2}}");
            dimarray.push("{{dimenzija.3}}");
            dimenzije.push(dimarray);
        {% endfor %}
        if ( Radiusvalue == "all") {
            var h = document.getElementById("height");
            h.options.length = 1;
            var w = document.getElementById("width");
            w.options.length = 1;
        } else{
            var radiusheighti = []
            var x = document.getElementById("height");
            x.options.length = 1;
            var w = document.getElementById("width");
            w.options.length = 1;
            var option
            for (var i = 0; i < dimenzije.length; i++) {
                if ( dimenzije[i][0] == Radiusvalue ) {
                    if (!(radiusheighti.includes(dimenzije[i][1]))) {
                        option = document.createElement("option");
                        option.text = dimenzije[i][1];
                        option.value = dimenzije[i][1];
                        x.add(option);
                        radiusheighti.push(dimenzije[i][1]) 
                    };
                };
            };
        };
        SpremeniGumbe();
    };
    function SpremeniHeight() {
        var radiusbox = document.getElementById("radius");
        var Radiusvalue = radiusbox.options[radiusbox.selectedIndex].value;
        var heightbox = document.getElementById("height");
        var Heightvalue = heightbox.options[heightbox.selectedIndex].value;
        var dimenzije = [];
        var dimarray;
        {% for dimenzija in dimenzije %}
            dimarray = [];
            dimarray.push("{{dimenzija.1}}");
            dimarray.push("{{dimenzija.2}}");
            {% if dimenzija.4 %}
                dimarray.push("{{dimenzija.3}}" + "C");
            {% else %}
                dimarray.push("{{dimenzija.3}}")
            {% endif %}
            dimenzije.push(dimarray);
        {% endfor %}
        if ( Heightvalue == "all") {
            var x = document.getElementById("width");
            x.options.length = 1;
        } else{
            var heightwidthi = []
            var x = document.getElementById("width");
            x.options.length = 1;
            var option
            for (var i = 0; i < dimenzije.length; i++) {
                if ( dimenzije[i][0] == Radiusvalue && dimenzije[i][1] == Heightvalue ) {
                    if (!(heightwidthi.includes(dimenzije[i][2]))) {
                        option = document.createElement("option");
                        option.text = dimenzije[i][2];
                        option.value = dimenzije[i][2];
                        x.add(option);
                        heightwidthi.push(dimenzije[i][2]) 
                    };
                };
            };
        };
        SpremeniGumbe()
    };
    function SpremeniWidth() { 
        var widthbox = document.getElementById("width");
        if (widthbox.selectedIndex == 0){
            SpremeniGumbe();
        } else{
            PokaziKoncno();
        };
    };     
</script>