{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}
    <style>
        div.tip:hover {
            background-color:red;
        }
        div.title{
            height:10%;
            text-align:center;
            font-size:4vh;
            margin-top:1%;
        }
        div.cetrt{
            height:70%;
            width:49%;
            margin:0%;
            padding:0%;
            display:inline-block;
            overflow:auto;
            border:1px solid black
        }
        a:hover{
            background-color: red;
        }
        h2{
            margin: 2%;
        }
    </style>

    {% include "css/tabele.html" %}

    <div style="height:2%"></div>

    {% if perms.zaloga.view_zaloga %}
        <div class="cetrt pogoste_dimenzije">
            <h2>
                Radius:
                <select name="radius" form="top10">
                    <option value="all"> All </option>
                    {% for radius in zaloga.vrni_razlicne_radiuse %}
                        <option value="{{radius}}"> {{radius}} </option>
                    {% endfor %}
                </select>
                Tip:
                <select name="tip" form="top10">
                    <option value="all"> All </option>
                    {% for tip in zaloga.vrni_tipe %}
                        <option value="{{tip.0}}"> {{tip.1}} </option>
                    {% endfor %}
                </select>
                <form style="display:inline-block" id="top10" action="{% url 'home_page' %}" method="GET">
                    <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}">
                </form>
            </h2>
            <table style="table-layout: fixed; width: 100% " class="tabela_vnosov">
                <tr>
                    <th width="50%"> {{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}:</th>
                    <th width="25%"> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </th>
                    <th width="25%"> {{slovar|keyvalue:'Zaloga'|keyvalue:jezik}}: </th>
                </tr>
                {% for sestavina in sestavine %}
                    <tr>
                        <td> {{sestavina.dimenzija__dimenzija}} </td>
                        {% with sestavina.tip as tip_sestavine %}
                        <td> {{tip_sestavine}} </td>
                        <td> {{sestavina|keyvalue:tip_sestavine}} </td>
                        {% endwith %}
                    <tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if perms.prodaja.view_stranka and zaloga|ima_prodajo:"vele_prodaja" %}
    <div class="cetrt stranke">
        <h2> {{slovar|keyvalue:'Stranke'|keyvalue:jezik}}: </h2>
        <table class="tabela_vnosov">
            <tr class="header">
                <th> {{slovar|keyvalue:'Naziv'|keyvalue:jezik}}: </th>
                <th> {{slovar|keyvalue:'Telefon'|keyvalue:jezik}}: </th>
                <th> {{slovar|keyvalue:'E-mail'|keyvalue:jezik}}: </th>
                <th> {{slovar|keyvalue:'Prodaja'|keyvalue:jezik}}: </th>
            </tr>
            {% for stranka in stranke %}
                <tr>
                    <td> {{stranka.naziv}} </td>
                    <td> {{stranka.telefon}} </td>
                    <td> {{stranka.mail}} </td>
                    <td> 
                        {% if stranka.aktivna_prodaja %}
                            <form action="{% url 'baza' zaloga_pk 'vele_prodaja' stranka.aktivna_prodaja__pk %}" method="GET">
                                <input type="submit" value="{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}">
                            </form>
                        {% else %}
                            <form action="{% url 'nova_baza' zaloga_pk 'vele_prodaja' %}" method="POST" onsubmit="return Confirm()">
                                {% csrf_token %}
                                <input type="hidden" name="stranka" value="{{stranka.pk}}">
                                <input type="date" hidden="hidden" name="datum" value="{{danes}}">
                                <input type="submit" value="{{slovar|keyvalue:'Nova prodaja'|keyvalue:jezik}}">
                            </form>
                        {% endif %}
                    </tr>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if perms.zaloga.view_dnevna_prodaja and zaloga|ima_prodajo:"dnevna_prodaja" %}
    <div class="cetrt dnevna_prodaja">
        {% if dnevna_prodaja == None %}
            <h1>
                {{zaloga.danes}}
            </h1>
            <div class="ustvari_prodajo" style="margin-top:5%">
                <form style="width:90%;height:50%;display:inline-block" action="{% url 'nova_dnevna_prodaja' zaloga_pk %}" method="POST">
                    {% csrf_token %}
                    <input style="width:60%;height:70%;font-size:5vh" type="submit" value="{{slovar|keyvalue:'Nova dnevna prodaja'|keyvalue:jezik}}">
                </form>
            </div>
        {% else %}
            <h2> {{dnevna_prodaja.title}} {{slovar|keyvalue:'Prodane'|keyvalue:jezik}}: </h2>
            <table class="tabela_vnosov">
                <tr>
                    <th> {{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}:</th>
                    <th> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </th>
                    <th> {{slovar|keyvalue:'Stevilo'|keyvalue:jezik}}: </th>
                </tr>
                {% with dnevna_prodaja.prodane as prodane %}
                {% for prodana in prodane %}
                    <tr>
                        <td> {{prodana.dimenzija}} </td>
                        <td> {{prodana.tip}}</td>
                        <td> {{prodane|keyvalue:prodana|keyvalue:'stevilo'}} </td>
                    </tr>
                {% endfor %}
                {% endwith %}
                <tr>
                    <td colspan="2"> {{slovar|keyvalue:'Skupno stevilo'|keyvalue:jezik}}:</td>
                    <td> {{dnevna_prodaja.skupno_stevilo}} </td>
                </tr>
                <tr>
                    <td colspan="2"> {{slovar|keyvalue:'Skupna cena'|keyvalue:jezik}}:</td>
                    <td> {{dnevna_prodaja.skupna_cena}} $ </td>
                </tr>
            </table>

        {% endif %}
    </div>
    {% endif %}

    {% if false %}
    <div class="cetrt info">
        <div class="sestavina_finder">
        </div>

        <div class="cena_finder">
        </div>
    </div>
    {% endif %}
    

    <script>
        function Confirm() {
            if (!confirm('are you sure?')){
                return false
            }
        }
    </script>
{% endblock %}