{% extends 'program/base.html' %}

{% load zaloga_exstras %}
{% block content %}

<style>
    .aktivne_baze{
        width:80%;
        margin-left:10%;
        display:block;
    }

    div.title{
        font-size:6vh;
        text-align:center;
        margin-top:1.5%;
    }
    div.okno{
        margin-top:2%;
        display:inline-block;
        width:70%;
        font-size:5vh;
        text-align:center;
    }
    div.okno form input[type=submit]{
        display:block;
        width:20%;
        height:10%;
        position:relative;
        left:40%;
        margin-top:2%;
    }
</style>


<h1>
{% if tip == "prevzem" %}
    {{slovar|keyvalue:'Nov prevzem'|keyvalue:jezik}}
{% elif tip == "odpis" %}
    {{slovar|keyvalue:'Nov odpis'|keyvalue:jezik}}
{% elif tip == "inventura" %}
    {{slovar|keyvalue:'Nova inventura'|keyvalue:jezik}}
{% elif tip == "vele_prodaja" %}
    {{slovar|keyvalue:'Nova vele prodaja'|keyvalue:jezik}}
{% elif tip == "prenos" %}
    {{slovar|keyvalue:'Nov prenos'|keyvalue:jezik}}
{% endif %}
</h1>

<div class="okno">
    {% if tip == "prevzem" %}
        <table style="padding:1%;border:1px solid black" class="tabela_podatkov">
            <tr>
                <th width="50%" colspan="2"> {{slovar|keyvalue:'Prevzem'|keyvalue:jezik}}:</th>
                <th width="50%" colspan="2">{{slovar|keyvalue:'Kontejner'|keyvalue:jezik}}:</th>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </td>
                <td> {{slovar|keyvalue:'Prevzem'|keyvalue:jezik}}: </td>
                <td> {{slovar|keyvalue:'Stevilka'|keyvalue:jezik}}: </td>
                <td> <input form="nova_baza" name="stevilka" type="text" required autocomplete="off"> </td>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Datum'|keyvalue:jezik}}: </td>
                <td> {{zaloga.danes}} </td>
                <td> Dobavitelj: </td> 
                <td>
                    <select form="nova_baza" name="dobavitelj">
                        {% for dobavitelj in dobavitelji %}
                            <option value="{{dobavitelj.id}}"> {{dobavitelj.naziv}} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    {% elif tip == "prenos" %}
        <table style="padding:1%;border:1px solid black"class="tabela_podatkov">
            <tr>
                <th width="33%" colspan="2"> {{slovar|keyvalue:'Prevzem'|keyvalue:jezik}}:</th>
                <th width="42%" colspan="2">{{slovar|keyvalue:'Zaloga'|keyvalue:jezik}}:</th>
                <th width="25%" colspan="2"> User: </th>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </td>
                <td> {{slovar|keyvalue:'Prenos'|keyvalue:jezik}} </td>
                <td> {{slovar|keyvalue:'Zaloga'|keyvalue:jezik}} </td>
                <td> 
                    <select form="nova_baza" name="zaloga">
                        {% for z in zaloge %}
                            {% if z.pk != zaloga_pk %}
                                <option value="{{z.pk}}"> {{z.title}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td> User: </td>
                <td> {{user.username}} </td>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Title'|keyvalue:jezik}}: </td>
                <td> {{program.naslednji_prenos}} </td>
            </tr>   
            <tr>
                <td> {{slovar|keyvalue:'Datum'|keyvalue:jezik}}: </td>
                <td> {{zaloga.danes}} </td>
            </tr>
        </table>
    {% elif tip == "vele_prodaja" or tip == "narocilo" %}
        <table style="padding:1%;border:1px solid black"class="tabela_podatkov">
            <tr>
                <th width="33%" colspan="2">
                    {{slovar|keyvalue:'Baza'|keyvalue:jezik}}:
                </th>
                <th width="33%" colspan="2">User:</th>
                <th></th>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Stranka'|keyvalue:jezik}}: </td>
                <td> 
                    <select name="stranka" form="nova_baza">
                        {% for stranka in stranke %}
                            <option value="{{stranka.pk}}"> {{stranka.naziv}} </option>
                        {% endfor %}
                    </select>  
                </td>
                <td> User: </td>
                <td> {{user.username}} </td>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Faktura'|keyvalue:jezik}}: </td>
                <td> {{program.naslednja_faktura}} </td>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Datum'|keyvalue:jezik}}: </td>
                <td> {{zaloga.danes}} </td>
            </tr>
        </table>
    {% else %}
        <table style="padding:1%;border:1px solid black"class="tabela_podatkov">
            <tr>
                <th width="33%" colspan="2">
                    {{slovar|keyvalue:'Baza'|keyvalue:jezik}}:
                </th>
                <th width="33%" colspan="2">User:</th>
                <th></th>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </td>
                <td> 
                {% if tip == "odpis" %}
                    {{slovar|keyvalue:'Odpis'|keyvalue:jezik}}
                {% elif tip == "inventura" %}
                    {{slovar|keyvalue:'Inventura'|keyvalue:jezik}}
                {% endif %}
                </td>
                <td> User: </td>
                <td> {{user.username}} </td>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Title'|keyvalue:jezik}}: </td>
                <td>
                {% if tip == "odpis" %}
                    {{program.naslednji_odpis}}
                {% elif tip == "inventura" %}
                    {{program.naslednja_inventura}}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td> {{slovar|keyvalue:'Datum'|keyvalue:jezik}}: </td>
                <td> {{zaloga.danes}} </td>
            </tr>
        </table>
    {% endif %}
    <form id="nova_baza" action="{% url 'nova_baza' zaloga_pk tip %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{{slovar|keyvalue:'Nova baza'|keyvalue:jezik}}"> 
    </form>
</div>

<h1>
    {{slovar|keyvalue:'Aktivno'|keyvalue:jezik}}:
</h1>

<template id="header">
    <tr class="header">
        <th> Title: </th>
        <th> Datum: </th>
        <th filter="prevzem">  Kontejner: </th>
        <th filter="prevzem">  Dobavitelj: </th>
        <th filter="prevzem"> Prihod: </th>
        <th filter="vele_prodaja"> Stranka: </th>
        <th> Število </th>
        <th filter="vele_prodaja"> Cena: </th> 
        <th> Ogled: </th>
        <th> Izbris: </th>
    </tr>
</template>

<template id="baza_row_model">
    <row-model-element style="display:table-row" className="Baza">
        <value-element attrName="title" class="table_cell"></value-element>
        <value-element attrName="datum" class="table_cell"></value-element>
        <value-element filter="prevzem" attrName="stevilka_kontejnerja" class="table_cell"></value-element>
        <value-element filter="prevzem" attrName="naziv_dobavitelja" class="table_cell"></value-element>
        <value-element filter="prevzem" attrName="prihod" class="table_cell"></value-element>
        <value-element filter="vele_prodaja" attrName="naziv_stranke" class="table_cell"></value-element>
        <value-element attrName="skupno_stevilo" class="table_cell"></value-element>
        <value-element filter="vele_prodaja" attrName="skupna_cena" type="price" class="table_cell"></value-element>
        <div class="table_cell">
            <button validate="true" is="delete-button"> Izbrisi </button>
        </div>
        <div class="table_cell">
            <button onclick="ogledAction(this)"> Ogled </button>
        </div>
    </row-model-element>
</template>

<models-table-element 
    rowModel="baza_row_model" 
    class="aktivne_baze"
    header="header" 
    filterAttr="tip" 
    tip="{{tip}}">
</models-table-element>

<script>
    var baze = JSON.parse('{{baze|jsonList|safe}}');
    var table = $("models-table-element").get(0)
    table.value = baze;

    function ogledAction(button){
        var id = $(button).closest(".modelElement").get(0).model["id"]; 
        var url = "ogled/" + id + "/";
        window.location.href = url;
    }


</script>

{% endblock %}