{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}

<style>
    div.table{
        display:inline-block;
        margin-top:2%;
        width:80%;
        overflow: auto
    }
    div.besedilo{
        height:8%;
        font-size:6vh;
        display:block;
        text-align:center;
        margin-top:2%
    }
</style>

<h1>
{% if tip == 'prevzem' %}
    {{slovar|keyvalue:'Arhiv prevzemov'|keyvalue:jezik}}
{% elif tip == 'odpis' %}
    {{slovar|keyvalue:'Arhiv odpisov'|keyvalue:jezik}}
{% elif tip == 'prenos' %}
    {{slovar|keyvalue:'Arhiv prenosov'|keyvalue:jezik}}
{% elif tip == 'inventura' %}
    {{slovar|keyvalue:'Arhiv inventur'|keyvalue:jezik}}
{% elif tip == 'vele_prodaja' %}
    {{slovar|keyvalue:'Arhiv vele prodaj'|keyvalue:jezik}}
{% elif tip == 'dnevna_prodaja' %}
    {{slovar|keyvalue:'Arhiv dnevnih prodaj'|keyvalue:jezik}}
{% endif %}
</h1>
<div class="filter" style="margin-top:3%">
    <form action="{% url 'arhiv_baz' zaloga_pk tip %}" method="GET">
        {{slovar|keyvalue:'Od'|keyvalue:jezik}}: <input type="date" value="{{zacetek}}" name="zacetek">
        {{slovar|keyvalue:'Do'|keyvalue:jezik}}: <input type="date" value="{{konec}}" name="konec">
        {{slovar|keyvalue:'Stranka'|keyvalue:jezik}}:
        {% if tip == "vele_prodaja" %}
            <select name="stranka">
                <option value="all"> All </option>
                {% for cliente in stranke %}
                    {% if cliente.pk == stranka %}
                        <option value="{{cliente.pk}}" selected> {{cliente.naziv}} </option>
                    {% else %}
                        <option value="{{cliente.pk}}"> {{cliente.naziv}} </option>
                    {% endif %}
                {% endfor %}
            </select>  
        {% endif %}
        <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}">
    </form>
</div>

<div class="table">
    {% if tip == "vele_prodaja" %}
    <table class="tabela_vnosov">
        <tr class="header">
            <th width="15%">{{slovar|keyvalue:'Faktura'|keyvalue:jezik}}:</th>
            <th width="15%">{{slovar|keyvalue:'Stranka'|keyvalue:jezik}}:</th>
            <th width="30%">{{slovar|keyvalue:'Datum'|keyvalue:jezik}}:</th>
            <th width="15%">{{slovar|keyvalue:'Skupno stevilo'|keyvalue:jezik}}: </th>
            <th width="20%">{{slovar|keyvalue:'Skupna cena'|keyvalue:jezik}}:</th>
            <th width="12%">{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}</th>
        </tr>
        {% for baza in baze %}
            <tr>
                <td> {{baza.title}} </td>
                <td> {{baza.stranka.ime}} </td>
                <td> {{baza.datum}} </td>
                <td> {{baza.skupno_stevilo}} </td>
                <td> {{baza.koncna_cena}} $</td>
                <td>
                    <form action="{% url 'baza' zaloga_pk 'vele_prodaja' baza.pk %}" method="GET">
                        <input type="submit" value="{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% elif tip == "dnevna_prodaja" %}
    <table class="tabela_vnosov">
        <tr>
            <th width="35%">{{slovar|keyvalue:'Datum'|keyvalue:jezik}}:</th>
            <th width="25%">{{slovar|keyvalue:'Stevilo prodanih'|keyvalue:jezik}}:</th>
            <th width="25%">{{slovar|keyvalue:'Skupna cena'|keyvalue:jezik}}:</th>
            <th width="15%">{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}</th>
        </tr>
        {% for prodaja in baze %}
            <tr>
                <td> {{prodaja.title}} </td>
                <td> {{prodaja.skupno_stevilo}} </td>
                <td> {{prodaja.skupna_cena}} $ </td>
                <td> 
                    <form action="{% url 'ogled_dnevne_prodaje' zaloga.pk prodaja.pk %}" method="GET">
                        <input type="submit" value="{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <table class="tabela_vnosov">
        <tr class="header">
            <th width="8%"> N. </th>
            <th width="17%"> {{slovar|keyvalue:'Title'|keyvalue:jezik}}: </th>
            <th width="17%"> {{slovar|keyvalue:'Datum'|keyvalue:jezik}}: </th>
            {% if tip == "prenos" %}
                <th width="15%">{{slovar|keyvalue:'Zaloga'|keyvalue:jezik}}:</th>
            {% elif tip == "prevzem" %} 
                <th width="12%">{{slovar|keyvalue:'Tip'|keyvalue:jezik}}:</th>
                <th width="12%">{{slovar|keyvalue:'Posiljatelj'|keyvalue:jezik}}:</th>   
            {% endif %}
            {% if tip != 'inventura' %}
            {% for tip in zaloga.vrni_tipe %}
            <th width="5%"> {{tip.0}} </th>
            {% endfor %}
            <th width="5%"> T </th>  
            {% endif %}
            <th width="13%"> {{slovar|keyvalue:'Vpogled'|keyvalue:jezik}}: </th>  
        </tr>
        {% for baza in baze %}
        <tr>
            <td> {{forloop.counter}}. </td>
            <td> {{baza.title}} </td>
            <td> {{baza.datum}} </td>
            {% if tip == "prenos" %}
                <td> {{baza.zaloga_prenosa}} </td>
            {% elif tip == "prevzem" %} 
                <td>{{baza.tipPrevzema}} </td>
                <td>{{baza.posiljatelj}} </td>
            {% endif %}
            {% if tip != 'inventura' %}
            {% for tip in zaloga.vrni_tipe %}
            <td> {{baza|skupno:tip.0}} </td> 
            {% endfor %}
            <td> {{baza|skupno:'all'}} </td>
            {% endif %}
            <td>
                <form action="{% url 'baza' zaloga_pk tip baza.pk %}" method="GET">
                    <input type="submit" value="{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}">
                </form>
            </td>  
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}

