{% extends 'program/base.html' %}

{% load zaloga_exstras %}
{% block content %}

<style>
    div.title{
        font-size:6vh;
        text-align:center;
        margin-top:1.5%;
    }
    div.okno{
        margin-top:2%;
        display:inline-block;
        width:70%;
        font-size:5vh;
        text-align:center;
    }
    div.okno form input[type=submit]{
        display:block;
        width:20%;
        height:10%;
        position:relative;
        left:40%;
        margin-top:2%;
    }
    div.model_stranke{
        padding: 0;
        height: 8%;
        text-align: center;
        border: 1px solid black;
        vertical-align:middle;
    }

    div.modeli {
        width:60%;
        margin-left:20%;
        margin-bottom: 3%;
    }
     
     h2{
         margin:3%;
     }
</style>


{% if false %}

<h1>
    Naročila:
</h1>

<div class="naročila">
    <div class="stranka">
        <div>
            DEJANSKA NAROČILA
        </div>
        <div>
            MODEL NAROČILA
        </div>
    </div>

    {% for stranka in stranke %}
            <div class="stranka">
                <div>
                    {{naročila.stranka.skupno}}
                </div>
                <div>
                    {{modeli.stranka.skupno}}
                </div>
                <div>
                </div>
            </div>
    {% endfor %}    
</div>

{% endif %}

<h2>
    NOVO NAROČILO
</h2>

<div>
    <form method="POST" action="{% url 'novo_narocilo' zaloga_pk %}">
        {% csrf_token %}
        <select name="stranka">
            {% for stranka in stranke %}
                {% with stranka=stranke|keyvalue:stranka %}
                    {% if not stranka.ima_model %}
                        <option value="{{stranka.id}}"> {{stranka.naziv}} </option>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </select>
        <input type="submit" value="Novo narocilo"> 
    </form>
</div>

<h2>
    NAROČILA
</h2>

<div class="modeli">
    <div class="model_stranke row d-flex align-items-center">
        <div class="col-sm-3">
            <label>Stranka:</label>
        </div>
        <div class="col-sm-3">
            <label>Skupno število:</label>
        </div>
        <div class="col-sm-6">
            <label>Ogled: </label>
        </div>
    </div>
    {% for model in modeli %}
        <div class="model_stranke row d-flex align-items-center">
            <div class="col-sm-3">
                {{model.stranka.naziv}}
            </div>
            <div class="col-sm-3">
                {{model.skupno_stevilo}}
            </div>
            <div class="col-sm-3">
                <form action="{% url 'baza' zaloga_pk 'narocilo' model.id %}" method="GET">
                    <input class="btn btn-info" type="submit" value="{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}">
                </form>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-info"> Info </button>
            </div>
        </div>
    {% endfor %}

</div>





{% endblock %}