{% extends 'program/base.html' %}

{% load zaloga_exstras %}
{% block content %}

<style>

    div.title{
        font-size:6vh;
        text-align:center;
        margin-top:1.5%;
    }
    div.okno{
        margin-top:2%;
        display:inline-block;
        width:70%;
        font-size:5vh;
        text-align:center;
    }
    div.okno form input[type=submit]{
        display:block;
        width:20%;
        height:10%;
        position:relative;
        left:40%;
        margin-top:2%;
    }
    div.model_stranke{
        padding: 0;
        height: 8%;
        text-align: center;
        border: 1px solid black;
        vertical-align:middle;
    }

    div.modeli {
        width:60%;
        margin-left:20%;
        margin-bottom: 3%;
    }
     
     h2{
         margin:3%;
     }
</style>


<div>
    <div class="inline">
        <button onclick="page('pregled_narocil')"> Pregled vseh narocil</button>
    </div>
    <div class="inline">
        <button onclick="page('analiza')"> Analiza narocil </button>
    </div>
</div>

<script>
    function page(page_name){
        $(".page").addClass("skrit");
        $("." + page_name).removeClass("skrit");
    }
</script>

<div class="page pregled_narocil">
    <h2>
        NOVO NAROČILO
    </h2>

    <div>
        <form method="POST" action="{% url 'novo_narocilo' zaloga_pk %}">
            {% csrf_token %}
            <select name="stranka">
                {% for stranka in stranke %}
                    {% with stranka=stranke|keyvalue:stranka %}
                        {% if not stranka.ima_model %}
                            <option value="{{stranka.id}}"> {{stranka.naziv}} </option>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </select>
            <input type="submit" value="Novo narocilo"> 
        </form>
    </div>

    <h2>
        NAROČILA
    </h2>

    <div class="modeli">
        <table class="tabela_vnosov">
            <tr>
                <th> Stranka: </th>
                <th> Skupno število: </th>
                <th colspan="2"> Ogled </th>
            </tr>
            {% for model in modeli %}
            <tr class="model_stranke row d-flex align-items-center">
                <td class="col-sm-3">
                    {{model.stranka.naziv}}
                </td>
                <td class="col-sm-3">
                    {{model.skupno_stevilo}}
                </td>
                <td class="col-sm-3">
                    <form action="{% url 'baza' zaloga_pk 'narocilo' model.id %}" method="GET">
                        <input class="btn btn-info" type="submit" value="{{slovar|keyvalue:'Ogled'|keyvalue:jezik}}">
                    </form>
                </td>
                <td class="col-sm-3">
                    <button class="btn btn-info"> Info </button>
                </td>
            </tr>
        {% endfor %}
        </table>
        
        

    </div>
</div>

<style>
    .analiza_div{
        width:94%;
        margin-left:3%;
        height: 50vh;
        vertical-align:top;
    }
    .vnosi{
        position:relative;
        overflow-y:scroll;
        max-height:48vh;
        min-height:30vh;
    }
    .vnosi.empty{
        border-left: 2px solid black;
        border-right: 2px solid black;
        text-align:center;
    }
    .tabela .skupno{
        height:10%;
    }
    .left{
        display: inline-block;
        width:25%;
        margin:0%;
        padding: 0%;
        height: 100%;
    }
    .right{
        display: inline-block;
        width:70%;
        margin:0%;
        padding:0%;
    }
</style>
<div class="page analiza skrit">
    <h2>
        Analiza narocil
    </h2>

    <div class="analiza_div">
        {% if false %}
        <div class="left">
            
            <div class="header">
                <table class="tabela_vnosov" style="border-top:0">
                    <tr>
                        <th> Stranke: </th>
                        <th> Delete: </th>
                    </tr>
                </table>
            </div>
            <div class="vnosi">

            </div>
        </div>
        {% endif %}
        <div class="right">
            <div class="filter">
                <div class="left-filter">
                    <div>
                        <label> Dimenzija-Tip: </label>
                        <input id="query" name="query" value="" type="text" />
                    </div>
                    <div>
                        <label> Skupina </label>
                        <select id="skupina">
                            <option value="all"> All </option>
                            {% for skupina in skupine %}
                                <option value="{{skupina.id}}"> {{skupina.naziv}} </option>
                            {% endfor %}
                        </select>   
                    </div>
                    <div>
                        <button onclick="analiza()"> Filtriraj </button>
                    </div>
                </div>
                <div class="kontejnerji-filter inline"> 
                    <div class="tabela-kontejnerjev">

                    </div>
                </div>
            
            </div>
            <div class="analiza_tabela" id="analiza_tabela">
                {% include './tabela_analize_narocil.html' %}
            </div>
        </div>
    </div>
</div>

<script>

    var reversals = {
        0: false,
        3: false,
        4: true,
        5: true,
    }

    function sortTable(index){
        var table = $("#tabela_vnosov").eq(0);
        var rows = table.find('tr').toArray().sort(comparer(index))
        var asc = reversals[index]

        if (!asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
        reversals[index] = !asc;
    }

    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            if(index == 5){
                return parseInt(valA.toString().replace("+","")) - parseInt(valB.toString().replace("+",""));
            } else {
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

    function analiza(){
        var query = $("#query").val();
        var skupina = $("#skupina").val();
        $.ajax({
            url: '{% url "analiza_narocil" zaloga_pk %}',
            method: 'GET',
            data: {
            'query': query,
            'skupina': skupina,
            },
            dataType: 'json',
            success: function (data) {
                console.log("SUCCES");
                console.log(data);
                $("#analiza_tabela").html(data["html"]);
            }
        }); 
        
    }

</script>


{% endblock %}