{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}

<style>
    div.okno{
        display:block;
        position:relative;
        text-align:center;
        font-size:5vh;
        margin-top:2%
    }
    div.table{
        display:inline-block;
        width:70%;
        margin-top:2%;
    }
</style>

<h1>
    {{slovar|keyvalue:'Pregled prometa za'|keyvalue:jezik}}
     {{sestavina.dimenzija.dimenzija}}
     {{slovar|keyvalue:'tipa'|keyvalue:jezik}}
     {{tip}}
</h1>


<h2> {{slovar|keyvalue:'Spremembe'|keyvalue:jezik}}: </h2>
<div class="filter">
    {{slovar|keyvalue:'Od'|keyvalue:jezik}}: <input form="filter" type="date" value="{{zacetek_sprememb}}" name="zacetek_sprememb">
    {{slovar|keyvalue:'Do'|keyvalue:jezik}}: <input  form="filter" type="date" value="{{konec_sprememb}}" name="konec_sprememb">
    <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}" form="filter">
</div>
<div class="table">
    <table class="tabela_vnosov">
        <tr>    
            <td colspan="5">
            {{slovar|keyvalue:'Trenutno stanje'|keyvalue:jezik}}: {{sestavina|stringvalue:tip}}
            </td>
        </tr>
        <tr>
            <th> {{slovar|keyvalue:'Datum'|keyvalue:jezik}} </th>
            <th> {{slovar|keyvalue:'Tip'|keyvalue:jezik}} </th>
            <th> {{slovar|keyvalue:'Title'|keyvalue:jezik}} </th>
            <th> {{slovar|keyvalue:'Sprememba'|keyvalue:jezik}} </th>
            <th> {{slovar|keyvalue:'Zaloga'|keyvalue:jezik}} </th>
        </tr>
        {% for sprememba in spremembe %}
            <tr>
                <td> {{sprememba.baza.datum}} </td>
                {% if sprememba.baza.tip == 'racun' %}
                <td> {{slovar|keyvalue:'Dnevna prodaja'|keyvalue:jezik}} </td>
                <td> {{sprememba.baza.datum}} </td>
                {% else %}
                <td> {{sprememba.baza.tip}} </td>
                <td> {{sprememba.baza.title}} </td>
                {% endif %}
                <td> {{sprememba.str_stevilo}} </td>
                <td> {{zaporedna_stanja|index:forloop.counter0}} </td>
            </tr>
        {% endfor %}
        </tr>
        <tr>
            <td colspan="5">
            {{slovar|keyvalue:'Zacetno stanje'|keyvalue:jezik}}: {{zaporedna_stanja|zadnji}}
            </td>
        </tr>
    </table>
</div>

<h2> {{slovar|keyvalue:'Vele prodaja'|keyvalue:jezik}}: </h2>
<div class="filter">
    {{slovar|keyvalue:'Od'|keyvalue:jezik}}: <input form="filter" type="date" value="{{zacetek_vp}}" name="zacetek_vp">
    c{{slovar|keyvalue:'Do'|keyvalue:jezik}}: <input  form="filter" type="date" value="{{konec_vp}}" name="konec_vp">
    <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}" form="filter">
</div>
<div class="table" style="width:40%">
    <table class="tabela_vnosov">
        <tr>
            <td width="50%"> {{slovar|keyvalue:'Stevilo prodanih'|keyvalue:jezik}}: </td>
            <td width="50%"> {{vp_stevilo}}
        </tr>
        <tr>
            <td> {{slovar|keyvalue:'Skupna cena'|keyvalue:jezik}}:    </td>
            <td> {{vp_cena}} $ </td>
        </tr>
    </table>
</div>

<h2> {{slovar|keyvalue:'Dnevna prodaja'|keyvalue:jezik}}: </h2>
<div class="filter">
    {{slovar|keyvalue:'Od'|keyvalue:jezik}}: <input form="filter" type="date" value="{{zacetek_dp}}" name="zacetek_dp">
    {{slovar|keyvalue:'Do'|keyvalue:jezik}}: <input  form="filter" type="date" value="{{konec_dp}}" name="konec_dp">
    <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}" form="filter">
</div>
<div class="table" style="width:40%">
    <table class="tabela_vnosov">
        <tr>
            <td width="50%"> {{slovar|keyvalue:'Stevilo prodanih'|keyvalue:jezik}}: </td>
            <td width="50%"> {{dp_stevilo}} </td>
        </tr>
        <tr>
            <td> "{{slovar|keyvalue:'Skupna cena'|keyvalue:jezik}}": </td>
            <td> {{dp_cena}} $ </td>
        </tr>
    </table>
</div>

<div style="height:3%">
</div>
<form id="filter" action="{% url 'pregled_prometa' %}" method="GET">
    <input type="hidden" name="tip" value="{{tip}}">
    <input type="number" hidden="hidden" name="pk" value={{sestavina.pk}}>
</form>


{% endblock %}