{% extends 'program/base.html' %}


{% load zaloga_exstras %}

{% block content %}

{% include 'js/ajax_requests.html' %}

<div style="width:100%;display:table;margin-bottom:2%">
    <div style="width:60%;text-align:center;display:table-cell;vertical-align:middle">
        <h1> Skupen pregled narocil <h1>
    </div>
    <div style="width:39%;text-align:center;display:table-cell">
        <h3> Ostala naročila: </h3>
    </div>
</div>


<div style="width:95%;display:inline-block;text-aling:center">
    <table class="tabela_vnosov">
        <tr>
            <th style="width:7%"> Dimenzija/Tip </th>
            {% for narocilo in narocila %}
                <th  onclick="barva('td','white');barva('{{narocilo.stranka__ime}}','#ffe6e6')"> 
                    <form action="{% url 'skupen_pregled_narocil' zaloga_pk %}" method="GET">
                        <input type="submit" value="-" id="submit_{{narocilo.pk}}" onclick="Nastavi_top('{{narocilo.pk}}')">
                        <input type="hidden" name="gledane">
                        <input type="number" hidden="hidden" value="" id="top_{{narocilo.pk}}" name="top">
                    </form>
                    <div style="width:100%;height:40%;overflow:hidden">{{narocilo.stranka__ime}}</div>
                </th>
            {% endfor %} 
            <th style="width:4%"> Skupno </th>
            <th style="width:4%"> Zaloga </th>
        </tr>
        {% with zaloga=zaloga.dimenzija_tip_zaloga %}
            {% for dimenzija in razlicne_dimenzije %}
                <tr class="vrstica" onclick="barva('td','white');barva('{{dimenzija}}','#ffe6e6')">
                    <td> {{dimenzija}} </td>
                    {% for narocilo in narocila %}
                        {% if narocilo.pk in razlicne_dimenzije|keyvalue:dimenzija %}
                            <td data-dimenzija="{{dimenzija|split:'_'|keyvalue:0}}" data-tip="{{dimenzija|split:'_'|keyvalue:1}}"data-baza="{{narocilo.pk}}"> 
                                {% for vnos in razlicne_dimenzije|keyvalue:dimenzija|keyvalue:narocilo.pk %}    
                                    {% with stevilo=razlicne_dimenzije|keyvalue:dimenzija|keyvalue:narocilo.pk|keyvalue:vnos %}
                                        <div data-vnos="{{vnos}}" class="vnos">
                                            <button class="izbrisi" onclick="Izbrisi_vnos(this)"> - </button>
                                            <button class="odstej" data-predznak="-1" onclick="Spremeni_vnos(this)"> - </button>
                                            <div class="stevilo inline"> {{stevilo}} </div>
                                            <button class="pristej" data-predznak="1" onclick="Spremeni_vnos(this)"> + </button>
                                            <button class="dodaj" onclick="Ustvari_vnos(this)"> + </button>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </td>
                        {% else %}
                            <td data-dimenzija="{{dimenzija|split:'_'|keyvalue:0}}" data-tip="{{dimenzija|split:'_'|keyvalue:1}}" data-baza="{{narocilo.pk}}"> 
                                <div data-vnos="" class="vnos">
                                    <button class="izbrisi" onclick="Izbrisi_vnos(this)"> - </button>
                                    <button data-predznak="-1" class="odstej" onclick="Spremeni_vnos(this)"> - </button>
                                    <div class="stevilo inline"> 0 </div>
                                    <button data-predznak="1" class="pristej" onclick="Spremeni_vnos(this)"> + </button>
                                    <button class="dodaj" onclick="Ustvari_vnos(this)"> + </button>
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td class="skupno"> {{skupno|keyvalue:dimenzija}} </td>
                    <td class="zaloga"> {{na_voljo|keyvalue:dimenzija}} </td>
                </tr>
            {% endfor %}
        {% endwith %}
        <tr>
            <td> Skupno: </td>
            {% for narocilo in narocila %}
                <td> {{narocilo.skupno}} </td>
            {% endfor %}
            <td> Skupno: </td>
            <td> {{skupno.stevilo}} </td>
        </tr>
    </table>
</div>

{% endblock %}

{% block javascript %}
  <script>
     $(document).ready(function() {
        var vnosi = $('.vnos')
        for (i=0; i<vnosi.length; i++){
            Nastavi_gumbe(vnosi[i])
        }
        var vrstice = $('.vrstica')
    });
    function Nastavi_gumbe(div){
        var pk = div.dataset.vnos
        var gumbi = div.getElementsByTagName('button')
        var stevilo = parseInt(div.getElementsByClassName('stevilo')[0].innerHTML)
        remove_class(gumbi,'skrit')
        if(pk != ""){
            add_class(div.getElementsByClassName('dodaj'),'skrit')
            if(stevilo > 1){
                add_class(div.getElementsByClassName('izbrisi'),'skrit')
            } else{
                add_class(div.getElementsByClassName('odstej'), 'skrit')
            }
        } else {
            add_class(div.getElementsByClassName('izbrisi'),'skrit')
            add_class(div.getElementsByClassName('odstej'),'skrit')
            add_class(div.getElementsByClassName('pristej'),'skrit')
        }
    }
    function Sestej_vrstico(vrstica){
        var vnosi = vrstica.getElementsByClassName('stevilo')
        var stevilo = 0
        for ( i=0; i<vnosi.length; i++){
            stevilo = stevilo + parseInt(vnosi[i].innerHTML)
        }
        vrstica.getElementsByClassName('skupno')[0].innerHTML = stevilo
    }
    function Spremeni_vnos(button) {
      var div = button.parentElement
      var predznak = parseInt(button.dataset.predznak)
      var stevilo = parseInt(div.getElementsByClassName('stevilo')[0].innerHTML)
      var pk = div.dataset.vnos
      SpremeniVnos(pk, stevilo + predznak, "", function(data){
            div.getElementsByClassName('stevilo')[0].innerHTML = data.stevilo
            Nastavi_gumbe(div)
            var vrstica = div.parentElement.parentElement
            Sestej_vrstico(vrstica)
            
      })
    }
    function Ustvari_vnos(button) {
        var div = button.parentElement
        var td = div.parentElement
        var dimenzija = td.dataset.dimenzija
        var baza = td.dataset.baza
        var tip = td.dataset.tip
        NovVnos(baza,dimenzija,tip,1,function(data){
            div.getElementsByClassName('stevilo')[0].innerHTML = data.stevilo
            div.dataset.vnos = data.pk
            Nastavi_gumbe(div)
            var vrstica = td.parentElement
            Sestej_vrstico(vrstica)
        })
    }
    function Izbrisi_vnos(button) {
        var div = button.parentElement
        IzbrisiVnos(div.dataset.vnos,function(data){
            div.getElementsByClassName('stevilo')[0].innerHTML = 0
            div.dataset.vnos = ""
            Nastavi_gumbe(div)
            var vrstica = div.parentElement.parentElement
            Sestej_vrstico(vrstica)
        })
    }
  </script>
{% endblock %}