{% extends 'program/base.html' %}


{% load zaloga_exstras %}

{% block content %}

{% include 'js/ajax_requests.html' %}

<div style="width:100%;display:table;margin-bottom:2%">
    <div style="width:60%;text-align:center;display:table-cell;vertical-align:middle">
        <h1> Skupen pregled narocil <h1>
    </div>
    <div style="width:39%;text-align:center;display:table-cell">
        <h3> Ostala naročila: 
            <button onclick="ToggleClass('.tabela_skritih','skrit')"> Pokazi </button>
        </h3>
        <table class="tabela_vnosov tabela_skritih skrit">
            {% for narocilo in narocila %}
                <tr data-baza="{{narocilo.pk}}" class="{{narocilo.pk}} skrit" >
                    <td> {{narocilo.stranka__ime}} </td>
                    <td> <button onclick="Pokazi(this)"> + </button>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div style="margin-bottom:2%" class="delovno_okno">
    <button onclick="Pokazi_sporne()"> Pokazi sporne </button>
    <button onclick="Pokazi_vse()"> Pokazi vse </button>
    <button class="skrit" onclick="Preklici_vse()"> Preklici vse </button>
</div>
<div style="width:95%;display:inline-block;text-aling:center">
    <table class="tabela_vnosov">
        <tr>
            <th style="width:6%"> Dimenzija </th>
            {% for narocilo in narocila %}
                <th data-baza="{{narocilo.pk}}" class="{{narocilo.pk}}"> 
                    <button class="skrij" onclick="Skrij(this)"> - </button>
                    <div style="width:100%;height:40%;overflow:hidden">{{narocilo.stranka__ime}}</div>
                </th>
            {% endfor %}
            <th style="width:4%" class="ostalo skrit"> Ostalo </th> 
            <th style="width:4%"> Skupno </th>
            <th style="width:4%"> Zaloga </th>
        </tr>
        {% with zaloga=zaloga.dimenzija_tip_zaloga %}
            {% for dimenzija in razlicne_dimenzije %}
                <tr data-dimenzija="{{dimenzija|split:'_'|keyvalue:0}}" class="vrstica" onclick="barva('td','white');barva('{{dimenzija}}','#ffe6e6')">
                    <td> {{dimenzija}} </td>
                    {% for narocilo in narocila %}
                        {% if narocilo.pk in razlicne_dimenzije|keyvalue:dimenzija %}
                            <td class="{{narocilo.pk}}" data-dimenzija="{{dimenzija|split:'_'|keyvalue:0}}" data-tip="{{dimenzija|split:'_'|keyvalue:1}}" data-baza="{{narocilo.pk}}"> 
                                {% for vnos in razlicne_dimenzije|keyvalue:dimenzija|keyvalue:narocilo.pk %}    
                                    {% with stevilo=razlicne_dimenzije|keyvalue:dimenzija|keyvalue:narocilo.pk|keyvalue:vnos %}
                                        <div data-vnos="{{vnos}}" class="vnos">
                                            <button class="izbrisi" onclick="Izbrisi_vnos(this)"> - </button>
                                            <button class="odstej" data-predznak="-1" onclick="Spremeni_vnos(this)"> - </button>
                                            <div class="stevilo inline"> {{stevilo}} </div>
                                            <button class="pristej" data-predznak="1" onclick="Spremeni_vnos(this)"> + </button>
                                            <button class="dodaj" onclick="Ustvari_vnos(this)"> + </button>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </td>
                        {% else %}
                            <td class="{{narocilo.pk}}" data-dimenzija="{{dimenzija|split:'_'|keyvalue:0}}" data-tip="{{dimenzija|split:'_'|keyvalue:1}}" data-baza="{{narocilo.pk}}"> 
                                <div data-vnos="" class="vnos">
                                    <button class="izbrisi" onclick="Izbrisi_vnos(this)"> - </button>
                                    <button data-predznak="-1" class="odstej" onclick="Spremeni_vnos(this)"> - </button>
                                    <div class="stevilo inline"> 0 </div>
                                    <button data-predznak="1" class="pristej" onclick="Spremeni_vnos(this)"> + </button>
                                    <button class="dodaj" onclick="Ustvari_vnos(this)"> + </button>
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td class="ostalo skrit"> </td> 
                    <td class="skupno"> </td>
                    <td class="zaloga"> {{na_voljo|keyvalue:dimenzija}} </td>
                </tr>
            {% endfor %}
        {% endwith %}
        <tr>
            <td> Skupno: </td>
            {% for narocilo in narocila %}
                <td> {{narocilo.skupno}} </td>
            {% endfor %}
            <td> Skupno: </td>
            <td> {{skupno.stevilo}} </td>
        </tr>
    </table>
</div>

{% endblock %}

{% block javascript %}
  <script>
     $(document).ready(function() {
        var vnosi = $('.vnos')
        for (i=0; i<vnosi.length; i++){
            Nastavi_gumbe(vnosi[i])
        }
        var vrstice = $('.vrstica')
        for (i=0;i<vrstice.length;i++){
            Sestej_vrstico(vrstice[i])
        }
    });
    $('.vrstica').click(function(e){
        if (e.target.tagName == "BUTTON") return;
        if($(this).css("background-color") == "transparent"){
            this.style.backgroundColor = "LightCoral"
        } else{
            this.style.backgroundColor = "transparent"
        }
    })
    function Nastavi_gumbe(div){
        var pk = div.dataset.vnos
        var gumbi = div.getElementsByTagName('button')
        var stevilo = parseInt(div.getElementsByClassName('stevilo')[0].innerHTML)
        remove_class(gumbi,'skrit')
        if(pk != ""){
            add_class(div.getElementsByClassName('dodaj'),'skrit')
            if(stevilo > 1){
                add_class(div.getElementsByClassName('izbrisi'),'skrit')
            } else{
                add_class(div.getElementsByClassName('odstej'), 'skrit')
            }
        } else {
            add_class(div.getElementsByClassName('izbrisi'),'skrit')
            add_class(div.getElementsByClassName('odstej'),'skrit')
            add_class(div.getElementsByClassName('pristej'),'skrit')
        }
    }
    function Sestej_vrstico(vrstica){
        var vnosi = vrstica.getElementsByClassName('stevilo')
        var stevilo = 0
        for ( n=0; n<vnosi.length; n++){
            stevilo = stevilo + parseInt(vnosi[n].innerHTML)
        }
        vrstica.getElementsByClassName('skupno')[0].innerHTML = stevilo
    }
    function Skrij(button){
        var th = button.parentElement
        var stranka = th.dataset.baza
        ToggleClass('.' + stranka, 'skrit')
        Nastavi_ostalo()
    }
    function Pokazi(button){
        var tr = button.parentElement.parentElement
        var stranka = tr.dataset.baza
        ToggleClass('.' + stranka, 'skrit')
        var skrite = Stranke(true)
        if ( skrite.length == 0){
            ToggleClass('.ostalo','skrit')
        } else{
            Nastavi_ostalo()
        }
    }
    function Nastavi_ostalo(){
        $('.ostalo').removeClass('skrit')
        var skrite = Stranke(true)
        vrstice = document.getElementsByClassName('vrstica')
        for( i=0;i<vrstice.length;i++){
            Sestej_skrite(vrstice[i],skrite)
        }
    }
    function Sestej_skrite(vrstica,skrite){
        var vnosi = vrstica.getElementsByClassName('stevilo')
        var stevilo = 0
        for ( n=0; n<vnosi.length; n++){
            var baza = vnosi[n].parentElement.parentElement.dataset.baza
            if (skrite.includes(baza)){
                stevilo = stevilo + parseInt(vnosi[n].innerHTML)
            }
        }
        vrstica.getElementsByClassName('ostalo')[0].innerHTML = stevilo
    }
    function Stranke(skrite){
        var stranke = $('.tabela_skritih tr')
        var list = []
        for(i=0;i<stranke.length;i++){
            if(skrite && !stranke[i].classList.contains('skrit')){
                list[list.length] = stranke[i].dataset.baza
            }
        }
        return list
    }
    function Spremeni_vnos(button) {
      var div = button.parentElement
      var predznak = parseInt(button.dataset.predznak)
      var stevilo = parseInt(div.getElementsByClassName('stevilo')[0].innerHTML)
      var pk = div.dataset.vnos
      SpremeniVnos(pk, stevilo + predznak, "", function(data){
            div.getElementsByClassName('stevilo')[0].innerHTML = data.stevilo
            Nastavi_gumbe(div)
            var vrstica = div.parentElement.parentElement
            Sestej_vrstico(vrstica)
            
      })
    }
    function Ustvari_vnos(button) {
        var div = button.parentElement
        var td = div.parentElement
        var dimenzija = td.dataset.dimenzija
        var baza = td.dataset.baza
        var tip = td.dataset.tip
        NovVnos(baza,dimenzija,tip,1,function(data){
            div.getElementsByClassName('stevilo')[0].innerHTML = data.stevilo
            div.dataset.vnos = data.pk
            Nastavi_gumbe(div)
            var vrstica = td.parentElement
            Sestej_vrstico(vrstica)
        })
    }
    function Izbrisi_vnos(button) {
        var div = button.parentElement
        IzbrisiVnos(div.dataset.vnos,function(data){
            div.getElementsByClassName('stevilo')[0].innerHTML = 0
            div.dataset.vnos = ""
            Nastavi_gumbe(div)
            var vrstica = div.parentElement.parentElement
            Sestej_vrstico(vrstica)
        })
    }
    function Pokazi_sporne(){
        var vrstice = $('.vrstica')
        for ( i = 0; i < vrstice.length; i++){
            vrstice[i].style.backgroundColor = 'white'
            var skupno = parseInt(vrstice[i].getElementsByClassName('skupno')[0].innerHTML)
            var zaloga = parseInt(vrstice[i].getElementsByClassName('zaloga')[0].innerHTML)
            if( skupno > zaloga){
                vrstice[i].style.backgroundColor = 'LightCoral'
            }
        }
    }
  </script>
{% endblock %}