
<div class="header">
    <table class="tabela_vnosov" style="border-top:0">
        <tr>
            <th> Dimenzija: </th>
            <th> Tip: </th>
            <th> Narocilo: </th>
            <th> Zaloga: </th>
            <th> Razlika: </th>
            <th> Info: </th>
        </tr>
    </table>
</div>
{% if vnosi == none or vnosi.length == 0 %}
<div class="vnosi empty" >
    <h2> Filtriraj </h2>
</div>
{% else %}
<div class="vnosi">
    <table class="tabela_vnosov" style="border-bottom:0">
        {% for vnos in vnosi %}
            <tr>
                <td> {{vnos.dimenzija}} </td>
                <td> {{vnos.tip}} </td>
                <td> {{vnos.stevilo}} </td>
                <td> {{vnos.zaloga}} </td>
                <td> {{vnos.razlika}} </td>
                <td> <button> i </button> </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<div class="skupno">
    <table class="tabela_vnosov" style="border-top:0">
        <tr>
            <td>
                Skupno:
            </td>
            <td>
                {{skupno_stevilo}}
            </td>
            <td>
                Zaloga:
            </td>
            <td>
                {{skupna_zaloga}}
            </td>
            <td> Razlika: </td>
            <td>
                {{skupno_razlika}} 
            </td>
        </tr>
    </table>
</div>