{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}
    <style>
        select{
            width:15%;
        }
        div.filter{
            display:block;
            margin-top:1.2%;
            width:100%;
            text-align:center;
            height:15%;
        }
        div.table{
            display:block;
            position:relative;
            width:60%;
            left:20%;
            margin-bottom:4%;
        }
        div.title{
            margin-top:2%;
            font-size:4vmin;
        }
    </style>

    <div style="margin-top:3%;display:inline-block;width:50%" >
        <table class="tabela_vnosov">
            <tr>
                <td width="30%"> {{slovar|keyvalue:'Skupno stevilo'|keyvalue:jezik}}: </td>
                <td width="20%"> {{skupno}} </td>
                <td width="30%"> {{slovar|keyvalue:'Vrednost'|keyvalue:jezik}}: </td>
                <td width="20%"> {{vrednost}} $</td>
            </tr>
        </table>
    </div>
    <div class="filter">
        <div style="display:block">
            <form id="filter" action="{% url 'pregled_zaloge' zaloga.pk %}" method="GET">
                {% include "program/dinamic_select.html" %} 
                <input type="submit" value="{{slovar|keyvalue:'Filtriraj'|keyvalue:jezik}}">
            </form>
        </div>
        <div style="display:block;margin-top:1%">
            {% for tip in zaloga.tipi_sestavin.all %}
                {{tip.kratko}}:
                <select style="width:5%" form="filter" name="{{tip.kratko}}">
                    {% if tip.kratko in tipi %}
                        <option value="true" selected> Yes </option>
                        <option value="false"> No </option>
                    {% else %}
                        <option value="true"> Yes </option>
                        <option value="false" selected> No </option>
                    {% endif %}
                </select>
            {% endfor %}
            Nicelne:
            <select form="filter" name="nicelne" style="width:5%">
                {% if nicelne == "true" %}
                    <option value="true"> Yes </option>
                    <option value="false"> No </option>
                {% else %}
                    <option value="true"> Yes </option>
                    <option value="false" selected> No </option>
                {% endif %}
            </select>
            Rezervirane:
            <select form="filter" name="rezervirane" style="width:5%">
                {% if rezervirane == "true" %}
                    <option value="true"> Yes </option>
                    <option value="false"> No </option>
                {% else %}
                    <option value="true"> Yes </option>
                    <option value="false" selected> No </option>
                {% endif %}
            </select>
            <form style="display:inline-block;width:8%" action="{% url 'pdf_zaloge' zaloga_pk %}" method="GET">
                <input type="hidden"  value="{{radius}}" name="radius">
                {% for tip in tipi %}
                <input type="hidden" value="True" name="{{tip}}">
                {% endfor %}
                <input style="width:100%"type="submit" value="pdf">
                <select hidden="hidden" name="nicelne" style="width:5%">
                    {% if nicelne == "true" %}
                        <option value="true"> Yes </option>
                        <option value="false"> No </option>
                    {% else %}
                        <option value="true"> Yes </option>
                        <option value="false" selected> No </option>
                    {% endif %}
                </select>
                <select hidden="hidden" name="rezervirane" style="width:5%">
                    {% if rezervirane == "true" %}
                        <option value="true"> Yes </option>
                        <option value="false"> No </option>
                    {% else %}
                        <option value="true"> Yes </option>
                        <option value="false" selected> No </option>
                    {% endif %}
                </select>
            </form>
        </div>
    </div>

    <div class="table">
        <table class="tabela_vnosov" >
            <tr class="header">
                <th width="25%">
                    {{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}:
                </th>
                <th width="20%" class="tip">
                    {{slovar|keyvalue:'Tip'|keyvalue:jezik}}:
                </th>
                <th width="20%" class="total">
                    {{slovar|keyvalue:'Zaloga'|keyvalue:jezik}}
                </th>
                <th width="20%" class="total">
                    {{slovar|keyvalue:'Vrednost'|keyvalue:jezik}}
                </th>
                {% if perms.zaloga.view_sprememba %}
                <th width="15%" class="vpogled">
                    {{slovar|keyvalue:'Vpogled'|keyvalue:jezik}}
                </th>  
                {% endif %}
            </tr>
                {% for sestavina in sestavine %}
                    <tr class="vrstica vrstica_{{tip}}">
                        <td> {{sestavina.naziv_dimenzije}} </td>
                        <td> {{sestavina.kratek_tip}} </td>
                        <td> {{sestavina.stanje}} </td>
                        <td> </td>
                        <td>
                            <form action="{% url 'pregled_prometa' zaloga.id sestavina.id %}" method="GET">
                                <input type="submit" value="{{slovar|keyvalue:'Pregled prometa'|keyvalue:jezik}}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>

<script>
    SpremeniRadius();
</script>

{% endblock %}
    