{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}

<style>
    div.besedilo{
        display:block;
        position:relative;
        text-align:center;
        font-size:5vh;
        margin-top:2%
    }
    div.table{
        position:relative;
        left:15%;
        width:70%;
        margin-top:3%;
        margin-bottom:4%;
    }
    div.filter{
            display:block;
            margin-top:2%;
            width:100%;
            text-align:center;
            height:15%;
        }
    select{
        width:10%;
    }
</style>

{% include 'js/ajax_requests.html' %}

<div class="besedilo">
    {% if tip == "vele_prodaja" %}
        {{slovar|keyvalue:'Cenik vele prodaje'|keyvalue:jezik}}
    {% elif tip == "dnevna_prodaja" %}
        {{slovar|keyvalue:'Cenik dnevne prodaje'|keyvalue:jezik}}
    {% endif %}
</div>

<div class="filter">
    <div style="margin-bottom:1%;font-size:3.5vh;display:block">
        {% include "program/dinamic_select.html" %}
        <button onclick="Filtriraj()"> Filtriraj </button>
    </div>
    {% for tip in zaloga.tipi_sestavin %}
        {{tip}}:
        <select class="tip_box" style="width:5%" id="{{tip}}">
            <option value="true"> Yes </option>
            <option value="false"> No </option>
        </select>
    {% endfor %}
</div>
<div style="display:block;margin-top:1%">
    <form style="display:inline-block" action="{% url 'cenik_pdf' zaloga_pk tip %}" method="GET">
        <input type="submit" value="PDF">
        <input type="hidden"  value="" name="radius">
        {% for tip in zaloga.tipi_sestavin %}
            <input type="hidden" value="True" name="{{tip}}">
        {% endfor %}
    </form>
    <button onclick="Spremeni_vse()" class="spremeni"> {{slovar|keyvalue:'Spremeni vse'|keyvalue:jezik}} </button>
    <input type="submit" hidden="hidden" form="spremeni_vse_form" class="potrdi" value="{{slovar|keyvalue:'Shrani vse'|keyvalue:jezik}}">
</div>
<div class="table">
    <table class="tabela_vnosov" >
        <tr class="header">
            <th width="30%">
                {{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}:
            </th>
            <th width="25%">
                {{slovar|keyvalue:'Tip'|keyvalue:jezik}}:
            </th>
            <th width="25%">
                {{slovar|keyvalue:'Cena'|keyvalue:jezik}}:
            </th>
            <th width="20%">
                {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}}:
            </th>
        </tr>
        {% for sestavina in sestavine %}
            {% if sestavina.cena__tip == "Y" or sestavina.cena__tip == "W" or sestavina.cena__tip == "JP70" %}
                {% if sestavina.dimenzija__special %}
                <tr class="vrstica {{sestavina.cena__tip}} {{sestavina.dimenzija__radius}} {{sestavina.dimenzija__height}} {{sestavina.dimenzija__width}}C all">
                {% else %}
                <tr class="vrstica {{sestavina.cena__tip}} {{sestavina.dimenzija__radius}} {{sestavina.dimenzija__height}} {{sestavina.dimenzija__width}} all">
                {% endif %}
                    <td> {{sestavina.dimenzija__dimenzija}}</td>
                    <td> {{sestavina.cena__tip}}</td>
                    {% with pk=sestavina.cena__pk %}
                        <td>
                            <div id="cena_{{pk}}" class="{{pk}}">{{sestavina.cena__cena}}$ </div>
                            <div class="{{pk}} skrit">
                                <input id="cena_value_{{pk}}" placeholder="({{sestavina.cena__cena}} $)" style="text-align:center;width:50%" type="text" value=""> $
                            </div>
                        </td>
                        <td>
                            <button onclick="ToggleClass('.{{pk}}', 'skrit')" class="{{pk}}"> {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}} </button>
                            <button onclick="Spremeni_ceno('{{pk}}')" class="{{pk}} skrit"> Ok </button>
                            <button onclick="ToggleClass('.{{pk}}', 'skrit')" class="{{pk}} skrit"> {{slovar|keyvalue:'Preklici'|keyvalue:jezik}} </button>
                        </td>
                    {% endwith %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    function Filtriraj(){
        var radius = get_selected('radius')
        var height = get_selected('height')
        var width = get_selected('width')
        $('.vrstica').addClass('skrit')
        if ( width != "all"){
            ToggleClass('.' + radius + '.' + height + '.' + width, 'skrit')
        } else if ( height != "all"){
            ToggleClass('.' + radius + '.' + height, 'skrit')
        } else{
            ToggleClass('.' + radius, 'skrit')
        }
        var tipi = []
        var tip_boxi = document.getElementsByClassName('tip_box')
        for(var i = 0; i < tip_boxi.length; i++){
            var tip_box = tip_boxi[i]
            if (get_selected(tip_box.id) == "false"){
                tipi[tipi.length] = tip_box.id
            }
        }
        for(var i=0; i< tipi.length; i++){
            $('.' + tipi[i]).addClass('skrit')
        }

    }
    function Spremeni_ceno(pk){
        var cena = get_value('cena_value_' + pk)
        SpremeniCeno(pk, cena, function(data){
            set_value('cena_value_' + pk, '')
            set_innerHtml('cena_' + pk, data.cena + ' $')
            set_placeholder('cena_value_' + pk, '(' + data.cena + ' $)')
            ToggleClass('.' + pk,'skrit')
        })
    }
</script>
{% endblock %}