{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}

<style>
    .vnos input {
        width:80%;
        text-align:center;
    }
    div.ustvari_prodajo{
        display:block;
        height:60%;
        text-align:center;
        margin-top:10%;
    }
    div.tabela{
        display:block;
        position:relative;
        left:3%;
        width:94%;
        height:70%;
        margin-top:2%;
        overflow:auto;
    }
    div.okno{
        display: inline-block;
        width:90%;
        height:60%;
        border:1px solid black;
        vertical-align:top;
        margin:0.5%;
        margin-top:2%;
    }
    div.table{
        display: inline-block;
        text-align:center;
        width:60%;
        height:100%;
        vertical-align:top;
    }
    div.gumbi_div{
        display: inline-block;
        width:38%;
        height:100%;
        vertical-align:top;
    }
    div.select{
        display:block;
        height:10%;
        vertical-align:top;
        font-size:80%;
        text-align:center;
        margin-top:3%;
    }
    div.gumbi{
        display:block;
        height:80%;
        vertical-align:top;
        text-align:center;
        margin-top:5%;
    }
    button.dimenzija{
        display:inline-block;   
        width:30%;
        height:15%;
        margin:0.5%;
        margin-top:2%;
    }
    label.dimenzija{
        display:block;
        text-align:center;
        margin-top:5%;
        font-size:120%;
    }
    input.stevilo{
        display:block;
        text-align:center;
        margin-top:3%;
        position:relative;
        font-size:150%;
        left:25%;
        width:50%;
        height:30%
    }
    button.tip{
        width:35%;
        margin:1.5%;
        display:inline-block;
        height:20%;
        margin-top:4%
    }
    h2,h1{
        margin:2%;
    }
</style>

{% include 'js/ajax_requests.html' %}

{% if prodaja == None %}
    <h1>
        {{zaloga.danes}}
    </h1>
    <div class="ustvari_prodajo">
        <form style="width:100%;height:100%;display:inline-block" action="{% url 'nova_dnevna_prodaja' zaloga.pk %}" method="POST">
            {% csrf_token %}
            <input style="width:60%;height:35%;font-size:150%" type="submit" value="{{slovar|keyvalue:'Nova dnevna prodaja'|keyvalue:jezik}}">
        </form>
    </div>
{% else %}
    <h1>
        {{prodaja.title}} {{slovar|keyvalue:'Prodaja'|keyvalue:jezik}}
    </h1>

    {% if danasnja %}
        {% include 'prodaja/prodajno_okno.html' with vnosi=aktivni_racun.vnosi_values racun=aktivni_racun %} 
    {% endif %}

    {% include 'prodaja/racuni.html' with racuni=racuni %}

    {% include 'prodaja/prodane.html' with prodaja=prodaja %}
{% endif %}

<script>
    function Uveljavi(button){
        button.disabled = true
        var vnosi = document.getElementById('tabela_vnosov').getElementsByClassName('vnos')
        if ( vnosi.length == 0){
            alert('potreben_je_vsaj_en_vnos')
            button.disabled = false
            return false
        } else{
            button.form.submit()
        }
    }
    function Pocisti(){
        document.getElementById('radius').selectedIndex = 0
        SpremeniRadius();
        SpremeniGumbe();    
        document.getElementById('gumbi').style.display = "block"
        document.getElementById('koncno').style.display = "none"
    };
    function Preklici(){
        Pocisti();
        document.getElementById('delovno').style.display = "block"
        document.getElementById('gumbi_delovno').style.display = "none"
        document.getElementById('gumbi').style.display = "none"
        document.getElementById('koncno').style.display = "none"
    };
    function SkrijGumbe(){
        var i;
        for (i = 1; i < 21; i++) { 
            var gumb = document.getElementById('gumb_' + i.toString())
            gumb.style.display = "none"
        };
    };
    function KlikGumba( index ){
        var radiusbox = document.getElementById("radius");
        var heightbox = document.getElementById("height");
        var widthbox = document.getElementById("width");
        if ( radiusbox.selectedIndex == 0){
            radiusbox.selectedIndex = index;
            SpremeniRadius();
            SpremeniGumbe();
        } else if ( heightbox.selectedIndex == 0){
            heightbox.selectedIndex = index;
            SpremeniHeight();
            SpremeniGumbe();
        } else if (widthbox.selectedIndex == 0){
            widthbox.selectedIndex = index;
            PokaziKoncno()
        };
    };
    function PokaziKoncno(){
        var radiusbox = document.getElementById("radius");
        var heightbox = document.getElementById("height");
        var widthbox = document.getElementById("width");
        var radius = radiusbox.options[radiusbox.selectedIndex].value
        var height = heightbox.options[heightbox.selectedIndex].value
        var width = widthbox.options[widthbox.selectedIndex].value
        document.getElementById('koncno').style.display = "block"
        document.getElementById('gumbi').style.display = "none"
        VrniDimenzijo(radius,height,width, function(data){
            document.getElementById('dimenzija').innerHTML = data.dimenzija
        })
        setTimeout(() => { Pokazi_zalogo() }, 1000);
        
    };
    function Pokazi_zalogo(){
        var dimenzija = document.getElementById('dimenzija').innerHTML
        var tip = get_selected('tip')
        var zaloga = '{{zaloga.pk}}'
        VrniZalogo(zaloga,dimenzija,tip,function(data){
            set_innerHtml('zaloga_div','/ ' + data.zaloga)
        })
    }
    function SpremeniGumbe(){
        var radiusbox = document.getElementById("radius");
        var heightbox = document.getElementById("height");
        var widthbox = document.getElementById("width");
        var Heightvalue = heightbox.options[heightbox.selectedIndex].value;
        var Widthvalue = widthbox.options[widthbox.selectedIndex].value;
        var i
        document.getElementById('gumbi').style.display = "block"
        document.getElementById('koncno').style.display = "none"
        if ( radiusbox.selectedIndex == 0){
            SkrijGumbe();
            for ( i = 1 ; i < radiusbox.options.length; i++){
                var gumb = document.getElementById('gumb_' + i.toString())
                gumb.style.display = "inline-block"
                gumb.innerHTML = radiusbox.options[i].value
            }
        } else if ( heightbox.selectedIndex == 0){
            SkrijGumbe();
            for ( i = 1 ; i < heightbox.options.length; i++){
                var gumb = document.getElementById('gumb_' + i.toString())
                gumb.style.display = "inline-block"
                gumb.innerHTML = heightbox.options[i].value
            }
        } else if (widthbox.selectedIndex == 0){
            SkrijGumbe();
            for ( i = 1 ; i < widthbox.options.length; i++){
                var gumb = document.getElementById('gumb_' + i.toString())
                gumb.style.display = "inline-block"
                gumb.innerHTML = widthbox.options[i].value
            };
        };
    };
    SpremeniGumbe()
</script>

<script>
    function Edit_vnos(button){
        var selector = '#' + button.parentElement.parentElement.id + ' .sprememba'
        ToggleClass(selector,'skrit')
    }
    function Izbrisi_vnos(button){
        var vrstica = button.parentElement.parentElement
        var pk = vrstica.id
        IzbrisiVnos(pk,function(data){
            vrstica.parentNode.removeChild(vrstica);
            Nastavi_podatke(data)
            Ponastavi_napis()
        })
    }
    function Spremeni_vnos(button){
        var vrstica = button.parentElement.parentElement
        var pk = vrstica.id
        var stevilo = vrstica.getElementsByClassName('stevilo_value')[0].value
        var cena = vrstica.getElementsByClassName('cena_value')[0].value
        SpremeniVnos(pk, stevilo, cena, function(data){
            Nastavi_podatke(data)
            ToggleClass('#' + pk + ' .sprememba','skrit')
        })
    }   
    function Nov_vnos(){
        var dimenzija = get_innerHtml('dimenzija')
        var stevilo = get_value('stevilo')
        var tip = get_selected('tip')
        var baza = '{{prodaja.aktivni_racun.pk}}'
        NovVnos(baza,dimenzija,tip,stevilo, function(data){
            Vstavi_vrstico('tabela_vnosov', data.index, data)
            Nastavi_podatke(data)
            set_value('stevilo','')
            Pocisti()
        })
    }
    function Nastavi_podatke(data){
        var vrstica = document.getElementById(data.pk)
        if(data.action != "izbris" ){
            vrstica.getElementsByClassName('stevilo')[0].innerHTML = data.stevilo
            vrstica.getElementsByClassName('cena')[0].innerHTML = data.cena + ' $'
            vrstica.getElementsByClassName('stevilo_value')[0].value = ""
            vrstica.getElementsByClassName('stevilo_value')[0].placeholder = "(" + data.stevilo + ")"
            vrstica.getElementsByClassName('cena_value')[0].value = ""
            vrstica.getElementsByClassName('cena_value')[0].placeholder = "(" + data.cena + " $)"
            vrstica.getElementsByClassName('cena_vnosa')[0].innerHTML = data.cena_vnosa + ' $'
        }
        set_innerHtml('skupno_stevilo',data.skupno_stevilo)
        set_innerHtml('skupna_cena',data.skupna_cena + ' $' )
        set_innerHtml('skupno_stevilo_racuna',data.skupno_stevilo)
        set_innerHtml('skupna_cena_racuna',data.skupna_cena + ' $' )
    }
    function Vstavi_vrstico(id_tabele, index, data){
        var table = document.getElementById(id_tabele)
        var row = table.insertRow(index + 1)
        row.id = data.pk
        row.classList.add('vnos')
        var cell = row.insertCell(0)
        cell.innerHTML = data.dimenzija
        var cell = row.insertCell(1)
        cell.innerHTML = data.tip
        var cell = row.insertCell(2)
        var input = document.createElement('input')
        input.classList.add('stevilo_value','skrit','sprememba')
        input.type = "text"
        cell.appendChild(input)
        var div = document.createElement('div')
        div.innerHTML = data.stevilo
        div.classList.add('stevilo','sprememba')     
        cell.appendChild(div)
        var cell = row.insertCell(3)
        var input = document.createElement('input')
        input.classList.add('cena_value', 'sprememba', 'skrit')
        input.type = "text"
        cell.appendChild(input);
        var div = document.createElement('div')
        div.innerHTML =  ' $'
        div.classList.add('inline','sprememba','skrit')          
        cell.appendChild(div)
        var div = document.createElement('div')
        div.innerHTML = data.cena + ' $'
        div.classList.add('cena','sprememba')      
        cell.appendChild(div)
        var cell = row.insertCell(4)
        cell.innerHTML = data.cena_vnosa + ' $'
        cell.classList.add('cena_vnosa')
        var cell = row.insertCell(5)
        var button = document.createElement('button')
        button.onclick = function(){Edit_vnos(this)}
        button.classList.add('spremeni', 'sprememba')
        button.innerHTML = "E"
        cell.appendChild(button);
        cell.appendChild (document.createTextNode(" "));
        var button = document.createElement('button');
        button.innerHTML = "X"
        button.onclick = function(){Izbrisi_vnos(this)}
        button.classList.add('izbrisi', 'sprememba');
        cell.appendChild(button);
        var button = document.createElement('button')
        button.classList.add('potrdi', 'skrit', 'sprememba')
        button.onclick = function(){Spremeni_vnos(this)}
        button.innerHTML = "Ok"
        cell.appendChild(button);
        cell.appendChild (document.createTextNode(" "));
        var button = document.createElement('button')
        button.classList.add('spremeni', 'skrit', 'sprememba')
        button.onclick = function(){Edit_vnos(this)}
        button.innerHTML = "X"
        cell.appendChild(button);
    }
</script>
{% endblock %}