{% load zaloga_exstras %}

<div class="sestavine">
    <h2>
        {{slovar|keyvalue:'Prodane'|keyvalue:jezik}}:
        <form style="display:inline-block;width:10%;margin-left:1%;" action="{% url 'pdf_dnevne_prodaje' zaloga.pk prodaja.pk 'prodane' %}" method="GET">
            <input type="submit" value="PDF" style="width:100%">
        </form>
        <form style="display:inline-block;width:5%;" action="{% url 'dnevna_prodaja' zaloga.pk prodaja.pk %}" method="GET">
            <input type="submit" value="{{slovar|keyvalue:'Osvezi'|keyvalue:jezik}}" style="width:100%">
        </form>
    </h2>
    <div style="display:inline-block;width:80%;margin-bottom:3%">
        <table  class="tabela_vnosov">
            <tr class="header">
                <th>{{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}:</th>
                <th>{{slovar|keyvalue:'Tip'|keyvalue:jezik}}:</th>
                <th>{{slovar|keyvalue:'Stevilo'|keyvalue:jezik}}:</th>
                <th>{{slovar|keyvalue:'Cena'|keyvalue:jezik}}:</th>
            </tr>
            {% with prodaja.prodane as prodane %}
                {% for prodana in prodane %}
                    <tr>
                        <td> {{prodana.dimenzija}} </td>
                        <td> {{prodana.tip}} </td>
                        <td> {{prodane|keyvalue:prodana|keyvalue:'stevilo'}} </td>
                        <td> {{prodane|keyvalue:prodana|keyvalue:'cena'}} $ </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        </table>
    </div>
</div>

<div class="sestavine">
    <h2>
        Activity_log:
        <form style="display:inline-block;width:10%;margin-left:1%;" action="{% url 'pdf_dnevne_prodaje' zaloga.pk prodaja.pk 'activity_log' %}" method="GET">
            <input type="submit" value="PDF" style="width:100%">
        </form>
        <form style="display:inline-block;width:5%;" action="{% url 'dnevna_prodaja' zaloga.pk  prodaja.pk %}" method="GET">
            <input type="submit" value="{{slovar|keyvalue:'Osvezi'|keyvalue:jezik}}" style="width:100%">
        </form>
    </h2>
    <div style="display:inline-block;width:80%;margin-bottom:3%">
        <table  class="tabela_vnosov">
            <tr class="header">
                <th>{{slovar|keyvalue:'Cas'|keyvalue:jezik}}:</th>
                <th>{{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}:</th>
                <th>{{slovar|keyvalue:'Tip'|keyvalue:jezik}}:</th>
                <th>{{slovar|keyvalue:'Stevilo'|keyvalue:jezik}}:</th>
                <th>{{slovar|keyvalue:'Cena'|keyvalue:jezik}}:</th>
            </tr>
            {% with prodaja.activity_log as prodane %}
                {% for prodana in prodane %}
                    <tr>
                        <td> {{prodana.cas}} </td>
                        <td> {{prodana.dimenzija}} </td>
                        <td> {{prodana.tip}} </td>
                        <td> {{prodana.stevilo}} </td>
                        <td> {{prodana.cena}} $ </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        </table>
    </div>
</div>