{% extends 'program/base.html' %}

{% load zaloga_exstras %}


{% block content %}

<style>
    div.delovno_okno{
        margin-top:1%;
        position:relative;
        display:block;
        width:90%;
        left:5%;
        height:6%;
        border: 1px solid black;
        font-size:3vh;
        padding-top: 10px;
        text-align:center
    }
    div.table{
        position:relative;
        display:block;
        width:90%;
        left:5%;
        text-align:center;
        margin-top:2%
    }
    div.delovno{
        position:relative;
        display:none;
        width:90%;
        left:5%;
        height:10%;
        text-align:center;
        margin-top:2%
    }
</style>

{% include 'program/bazno_okno.html' with baza=prodaja %}

<div class="delovno_okno" id="delovno">
    <button onclick="Nov_vnos()" class="vnosi"> Dodaj vnos </button>
    <button onclick="Vec_vnosov()" class="vnosi"> Vec vnosov </button>
    <form enctype='multipart/form-data' style="display:inline-block;margin-left:3px;margin-right:3px"  action="{% url 'prodaja_iz_datoteke' prodaja.pk %}" method="POST">
            {% csrf_token %}
            <input style="display:inline-block;width:150px " id="iz_datoteke" name="file_path" type="file" value="Brskaj">
            <input style="display:inline-block;" type="submit" value="dodaj">
    </form>
    <button onclick="Uredi()" class="uredi_gumb vnosi"> Uredi </button>
    <button onclick="Preklici_urejanje()" hidden="hidden" class="uredi"> Preklici urejanje </button>
    <form style="display:inline-block" action="{% url 'uveljavi_prodajo' prodaja.pk %}" onsubmit="return Uveljavi_prodajo()" method="POST">
        {% csrf_token %}
        <input type="submit" value="Uveljavi" class="vnosi">
    </form>
        <form style="display:inline-block" action="{% url 'prodaja_shrani_vse' prodaja.pk %}" method="POST" onsubmit="return Shrani_vse()">
        {% csrf_token %}
        {% for vnos in vnosi.values %}
        <input type="number" hidden="hidden" name="{{vnos.dimenzija}}_{{vnos.tip}}" value="" id="{{vnos.dimenzija}}_{{vnos.tip}}_form">
        {% endfor %}
        <input type="submit" hidden="hidden" class="pre_vnosi" value="Shrani vse"> 
    </form>
    <button hidden="hidden" class="pre_vnosi" onclick="Preklici_veckratni_vnos()"> Preklici veckratni vnos </button>
</div>

<div hidden="hidden" style="width:60%;margin-top:2%" class="gumbi">
    <div class="zgornja_vrstica">
        <button onclick='Pocisti()'> Počisti </button>
        <form style="display:inline-block" id="nov_vnos" action="{% url 'prodaja_nov_vnos' prodaja.pk %}" method="POST">
            {% csrf_token %}
            {% include "prodaja/dinamic_select.html" %}
        </form> 
        <button onclick="Preklici()"> Prekliči </button>
    </div>
    <div class="gumbi_okno">
        <div class="buttons">
        {% for n in '00000000000000000000' %}
            <button id="gumb_{{forloop.counter}}" onclick="KlikGumba({{forloop.counter}})" style="display:none;width:20%"> {{forloop.counter}} </button>
        {% endfor %}
        </div>
        <div hidden="hidden" style="height:40%;width:40%" class="koncno">
            <label style="width:70%;height:15%;display:inline-block;font-size:4vh" id="dimension_label"> Dimenzija </label>
            <input style="text-align:center;font-size:5vh;width:40%;height:25%;display:inline-block;margin:2%;margin-top:1%;margin-bottom:3%" name="stevilo" form="nov_vnos" type="number" autocomplete="off" autofocus min="1" max="100" required>
            <label id="zaloga_div" style="width:30%;height:30%;text-align:center;font-size:5vh;display:inline-block"> Zaloga </label>
            <div style="width:30%;height:15%;text-align:center;display:inline-block"> Tip: </div> 
            <select style="width:40%;height:15%;display:inline-block" id="tip" name="tip" form="nov_vnos" onchange="Pokazi_zalogo()">
                {% for tip in zaloga.vrni_tipe %}
                    <option value="{{tip.0}}"> {{tip.1}} </option>
                {% endfor %}
            </select>
            <input style="width:40%;height:15%;display:inline-block;margin:10%;margin-top:3%" type="submit" value="Nov vnos" form="nov_vnos">
        </div>
    </div>
</div>

<div hidden="hidden" style="margin-top:3%" class="pre_vnosi">
    Radius:
    <select id="radius_box">
        <option value="all" id="radius_all"> All </option>
        {% for radius in zaloga.vrni_razlicne_radiuse %}
        <option id="{{radius}}"> {{radius}} </option>
        {% endfor %}
    </select>
    Tip:
    <select id="tip_box">
        <option value="all" id="tip_all"> All </option>
        {% for tip in zaloga.vrni_tipe %}
        <option value="{{tip.0}}" id="{{tip.0}}"> {{tip.1}} </option>
        {% endfor %}
    </select>
    <button onclick="Filtriraj()"> Filtriraj </button>
</div>

<div class="table">   
    <table style="width:80%;display:inline-block" class="tabela_vnosov vnosi">
        <tr class="header">
            <th width="8%"> N. </th>
            <th width="20%"> Dimenzija: </th>
            <th width="12%"> Tip: </th>
            <th width="12%"> Število: </th>
            <th width="14%"> Cena: </th>
            <th width="14%"> Skupaj: </th>
            <th hidden="hidden" class="uredi" width="32%" > Uredi: </th>  
        </tr>
            {% for vnos in prodaja.vnosi_values %}
                <tr>
                    <td >
                        {{forloop.counter}}.
                    </td>
                    <td >
                        {{ vnos.dimenzija__dimenzija }}
                    </td>
                    <td>
                        <div class="spremeni_{{vnos.pk}}">{{vnos.tip}}</div>
                        <select class="potrdi_{{vnos.pk}}" hidden="hidden" name="tip" form="spremeni_vnos_{{vnos.pk}}">
                            {% for tip in zaloga.vrni_tipe %}
                                {% if tip.0 == vnos.tip %}
                                <option value="{{tip.0}}" selected> {{tip.1}} </option>
                                {% else %}
                                <option value="{{tip.0}}"> {{tip.1}} </option>
                                {% endif %}
                            {% endfor %}
                        </select> 
                    </td>
                    <td>
                        <div class="spremeni_{{vnos.pk}}">{{vnos.stevilo}}</div>
                        <input class="potrdi_{{vnos.pk}}" type="number" name="stevilo" min=1 max="999" style="text-align:center;width:60%" form="spremeni_vnos_{{vnos.pk}}" hidden="hidden" placeholder="({{vnos.stevilo}})" autocomplete="off">
                    </td>
                    <td> 
                        <div class="spremeni_{{vnos.pk}}">{{vnos.cena}} $</div>
                        <input class="potrdi_{{vnos.pk}}" type="text" name="cena" form="spremeni_vnos_{{vnos.pk}}" style="text-align:center;width:60%" hidden="hidden" placeholder="({{vnos.cena}} $)" autocomplete="off">
                        <div class="potrdi_{{vnos.pk}}" hidden="hidden"> $ </div>
                    </td>
                    <td> {{vnos|skupna_cena}} $ </td>
                    <td hidden="hidden" class="uredi">
                        <button class="spremeni_{{vnos.pk}}" onclick="Spremeni_vnos('{{vnos.pk}}')"> Spremeni </button>
                        <input class="spremeni_{{vnos.pk}}" type="submit" form="izbrisi_vnos_{{vnos.pk}}" value="Izbrisi">
                        <input class="potrdi_{{vnos.pk}}" hidden="hidden" type="submit" form="spremeni_vnos_{{vnos.pk}}" value="Potrdi">
                        <button class="potrdi_{{vnos.pk}}" onclick="Preklici_spremembo_vnosa('{{vnos.pk}}')" hidden="hidden"> Preklici </button>
                    </td>
                    <form id="spremeni_vnos_{{vnos.pk}}" action="{% url 'prodaja_spremeni_vnos' prodaja.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{vnos.pk}}" name="pk">
                    </form>
                    <form id="izbrisi_vnos_{{vnos.pk}}" action="{% url 'prodaja_izbrisi_vnos' prodaja.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{vnos.pk}}" name="pk">
                    </form>
                </tr>
            {% endfor %}
            <tr class="endrow">
                <td colspan="3"> Skupno stevilo:</td>
                <td> {{prodaja.skupno_stevilo}} </td>
                <td> Znesek: </td>
                <td> {{prodaja.skupna_cena}} $ </td>
                <td colspan="2" hidden="hidden" class="uredi"> </td>
            </tr>
            <tr class="endrow">
                <td> 
                    Popust:
                </td>
                <td>  
                    <div class="spremeni_popust"> {{prodaja.popust}} % </div>
                    <input form="spremeni_popust" style="width:60%" type="text" hidden="hidden" class="potrdi_popust" value="" name="popust" required>
                    <div hidden="hidden" class="potrdi_popust">%</div>  
                </td>
                <form display="inline-block" id="spremeni_popust" action="{% url 'prodaja_spremeni_popust' prodaja.pk %}" method="POST">
                        {% csrf_token %}  
                </form>
                <td>   
                    <button class="spremeni_popust" onclick="Spremeni_popust()"> Spremeni </button>
                    <input hidden="hidde" type="submit" form="spremeni_popust" value="potrdi" class="potrdi_popust">
                    <button hidden="hidden" class="potrdi_popust" onclick="Preklici_spremembo_popusta()"> X </button>
                </td>
                <td colspan="2"> Znesek popusta: </td>
                <td> {{prodaja.cena_popusta}} $</td>
                <td colspan="2" hidden="hidden" class="uredi"> </td>
            </tr>
            <tr class="endrow">
                <td colspan="5"> Koncna cena: </td>
                <td> {{prodaja.koncna_cena}} $ </td>
                <td colspan="2" hidden="hidden" class="uredi"> </td>
            </tr>
    </table>
    <table hidden="hidden" style="width:60%" class="tabela_vnosov pre_vnosi">
        <tr class="header">
            <th width="30%">
                Dimenzija
            </th>
            <th width="15%">
                Tip:
            </th>
            <th width="15%">
                število:
            </th>
            <th width="30%" colspan="2">
                Uredi:
            </th>  
        </tr>
        {% for vnos in vnosi.values %}
        <tr class="vrstica {{vnos.radius}} {{vnos.tip}}">
            <td> {{vnos.dimenzija}} </td>
            <td> {{vnos.tip}} </td>
            {% if vnos.vneseno %}
            <td> 
                <div class="spremeni_{{vnos.pk}}">{{vnos.stevilo}}</div>
                <input id="{{vnos.dimenzija}}_{{vnos.tip}}" style="width:60%;text-align:center" class="potrdi_{{vnos.pk}}" hidden="hidden" type="number" name="stevilo" form="spremeni_{{vnos.pk}}" min="0" required>
            </td>
            <td>
                <button class="spremeni_{{vnos.pk}}" onclick="Spremeni_vnos('{{vnos.pk}}')"> Spremeni </button>
                <input class="potrdi_{{vnos.pk}}" hidden="hidden" type="submit" form="spremeni_{{vnos.pk}}" value="OK">
                <input class="potrdi_{{vnos.pk}}" hidden="hidden"  form="izbrisi_{{vnos.pk}}" type="submit" value="X">
                <button class="potrdi_{{vnos.pk}}" hidden="hidden" onclick="Preklici_spremembo_vnosa('{{vnos.pk}}')"> <- </button>
                <form action="{% url 'prodaja_spremeni_vnos' prodaja.pk %}" method="POST" hidden="hidden" id="spremeni_{{vnos.pk}}">
                    {% csrf_token %}
                    <input type="number" hidden="hidden" value={{vnos.pk_vnosa}} name="pk">
                </form>
                <form action="{% url 'prodaja_izbrisi_vnos' prodaja.pk %}" method="POST" hidden="hidden" id="izbrisi_{{vnos.pk}}">
                    {% csrf_token %}
                    <input type="number" hidden="hidden" value={{vnos.pk_vnosa}} name="pk">
                </form>
            </td> 
            {% else %}
            <td> <input id="{{vnos.dimenzija}}_{{vnos.tip}}" type="number" style="width:60%;text-align:center" name="stevilo" form="nov_vnos_{{vnos.pk}}"value="" min="0" required> </td>
            <td> 
                <form action="{% url 'prodaja_nov_vnos' prodaja.pk %}" id="nov_vnos_{{vnos.pk}}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{vnos.dimenzija}}" name="dimenzija">
                    <input type="hidden" value="{{vnos.tip}}" name="tip">
                    <input type="submit" value="Potrdi"> 
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    function Uveljavi_prodajo() {
        if ( {{prodaja.stevilo_vnosov}} == 0){
            alert('Prodaja mora vsebovati vsaj en vnos!');
            return false;
        }
    }
    function Vec_vnosov() {
        toggle('vnosi', 'none')
        toggle('pre_vnosi','inline-block')
    }
    function Preklici_veckratni_vnos() {
        toggle('vnosi', 'inline-block')
        toggle('pre_vnosi','none')
    }
    function Shrani_vse(){
        var stevilo;
        {% for vnos in vnosi.values %}
            stevilo = document.getElementById('{{vnos.dimenzija}}_{{vnos.tip}}').value
            document.getElementById('{{vnos.dimenzija}}_{{vnos.tip}}_form').value = stevilo            
        {% endfor %}
    }
    function Nov_vnos(){
        toggle('delovno_okno', 'none');
        toggle('gumbi', 'inline-block');
        SpremeniGumbe();
    }
    function Pocisti(){
        document.getElementById('radius').selectedIndex = 0
        SpremeniRadius();
        SpremeniGumbe();    
        toggle('buttons', 'inline-block');
        toggle('koncno', 'none');
    };
    function Preklici(){
        toggle('delovno_okno', 'block');
        toggle('gumbi', 'none');
    };
    function SkrijGumbe(){
        var i;
        for (i = 1; i < 21; i++) { 
            var gumb = document.getElementById('gumb_' + i.toString())
            gumb.style.display = "none"
        };
    };
    function KlikGumba( index ){
        var radiusbox = document.getElementById("radius");
        var heightbox = document.getElementById("height");
        var widthbox = document.getElementById("width");
        if ( radiusbox.selectedIndex == 0){
            radiusbox.selectedIndex = index;
            SpremeniRadius();
            SpremeniGumbe();
        } else if ( heightbox.selectedIndex == 0){
            heightbox.selectedIndex = index;
            SpremeniHeight();
            SpremeniGumbe();
        } else if (widthbox.selectedIndex == 0){
            widthbox.selectedIndex = index;
            PokaziKoncno()
        };
    };
    function PokaziKoncno(){
        var dimenzija = Tvori_dimenzijo()
        document.getElementById('dimension_label').innerHTML = dimenzija
        Pokazi_zalogo()
        toggle('buttons','none')
        toggle('koncno','inline-block')
    };
    function Pokazi_zalogo(){
        var dimenzija = document.getElementById('dimension_label').innerHTML
        var tipbox = document.getElementById("tip");
        var tip = tipbox.options[tipbox.selectedIndex].value
        {% for sestavina in zaloga.vrni_zalogo %}
            if( "{{sestavina|keyvalue:'dimenzija'}}" == dimenzija ){
                {% for tip in zaloga.vrni_tipe %}
                    if( "{{tip.0}}" == tip ){
                        document.getElementById('zaloga_div').innerHTML = '/ {{sestavina|zaloga:tip.0}}'
                    }
                {% endfor %}
            }
        {% endfor %}
    }
    function SpremeniGumbe(){
        toggle('buttons','block')
        toggle('koncno','none')
        var radiusbox = document.getElementById("radius");
        var heightbox = document.getElementById("height");
        var widthbox = document.getElementById("width");
        var Heightvalue = heightbox.options[heightbox.selectedIndex].value;
        var Widthvalue = widthbox.options[widthbox.selectedIndex].value;
        var i
        if ( radiusbox.selectedIndex == 0){
            SkrijGumbe();
            for ( i = 1 ; i < radiusbox.options.length; i++){
                var gumb = document.getElementById('gumb_' + i.toString())
                gumb.style.display = "inline-block"
                gumb.innerHTML = radiusbox.options[i].value
            }
        } else if ( heightbox.selectedIndex == 0){
            SkrijGumbe();
            for ( i = 1 ; i < heightbox.options.length; i++){
                var gumb = document.getElementById('gumb_' + i.toString())
                gumb.style.display = "inline-block"
                gumb.innerHTML = heightbox.options[i].value
            }
        } else if (widthbox.selectedIndex == 0){
            SkrijGumbe();
            for ( i = 1 ; i < widthbox.options.length; i++){
                var gumb = document.getElementById('gumb_' + i.toString())
                gumb.style.display = "inline-block"
                gumb.innerHTML = widthbox.options[i].value
            };
        };
    };
    function TvoriDimenzijo(radius, height, width){
        if( "C" == width.substring(width.length - 1, width.length) ){
            return height + '/' + width.substring(0, width.length - 1) + '/' + radius + 'C'
        } else if (width == "R"){
            return height + '/' + radius
        } else {
            return height + '/' + width + '/' + radius
        }
    }
    function Tvori_dimenzijo(){
        var radiusbox = document.getElementById("radius");
        var heightbox = document.getElementById("height");
        var widthbox = document.getElementById("width");
        var radius = radiusbox.options[radiusbox.selectedIndex].value
        var height = heightbox.options[heightbox.selectedIndex].value
        var width = widthbox.options[widthbox.selectedIndex].value
        return TvoriDimenzijo(radius,height,width)
    }
    function Filtriraj(){
        var tipbox = document.getElementById('tip_box')
        var radiusbox = document.getElementById('radius_box')
        var tip = tipbox.options[tipbox.selectedIndex].value
        var radius = radiusbox.options[radiusbox.selectedIndex].value
        toggle('vrstica','block')
        if( tip != 'all'){
            {% for tip in zaloga.vrni_tipe %}
                if( "{{tip.0}}" != tip){
                    toggle("{{tip.0}}",'none')
                }
            {% endfor %}
        }
        if( radius != 'all'){
            {% for radius in zaloga.vrni_razlicne_radiuse %}
                if( "{{radius}}" != radius){
                    toggle("{{radius}}",'none')
                }
            {% endfor %}
        }
    }
</script>
{% endblock %}