{% extends 'program/base.html' %}

{% load staticfiles %}
{% load zaloga_exstras %}

{% block javascript %}
    <script>
        var csrf = '{{csrf_token}}';
        var baza = JSON.parse('{{values|json|safe}}');
        var vnosi = JSON.parse('{{vnosi|jsonList|safe}}');
        var dimenzije = JSON.parse('{{dimenzije|jsonList|safe}}');
        var sestavine = JSON.parse('{{sestavine|jsonList|safe}}');
        var tipi = JSON.parse('{{tipi|jsonList|safe}}');
    </script>
    <script src="{% static 'js/dimenzija_filter.js' %}"></script>
    <script src="{% static 'js/dimenzija_dinamic_filter.js' %}"></script>
    <script src="{% static 'js/tabela_vnosov.js' %}"></script>
    <script src="{% static 'js/nov_vnos.js' %}"></script>
    <script src="{% static 'js/models/baza_model_element.js' %}"></script>
    <script src="{% static 'js/models/vnos_model_element.js' %}"></script>
{% endblock %}

{% block content %}
<style>
    
    div.okno{
        margin-top:2%;
        display:inline-block;
        width:90%;
        border: 1px solid black;
        font-size:5vmin;
    }
    div.delovno_okno{
        margin-top:1%;
        margin-left:10%;
        margin-right:10%;
        width:80%;
        height:6%;
        border: 1px solid black;
        font-size:3vmin;
        padding-top: 10px;
        text-align:center
    }
    div.table{
        display:block;
        text-align:center;
        margin-top:1%
    }
    div.delovno{
        position:relative;
        display:none;
        width:90%;
        left:5%;
        height:10%;
        text-align:center;
        margin-top:2%
    }

    div.baznoOkno{
        position:relative;
        text-align: left;
        width:80%;
        margin:10%;
        border: 1px solid black;
    }

    div.baznoOkno > .valueElement {
        margin-left:5%;
        margin-bottom:1%;
        margin-top: 1%;
        width: 40%;
        font-size:120%;
    }

    div.baznoOkno .edit_bazno_okno_button{
        margin:0%;
        font-size: 100%;
        position:absolute;
        width:5%;
        left:95%;
        height:5vh;
    }
    div.baznoOkno div.edit{
        width:100%;
        text-align:center;
    }
    div.baznoOkno .pdf_button{
        position:absolute;
        width:5%;
        left:95%;
        height:5vh;
        bottom:0;
        margin:0;
    }
    div.baznoOkno .buttons{
        margin-top:2%;
    }

    div.baznoOkno div.edit button{
        width:15%;
    }
</style>

<baza-model-element id="poskus" className="Baza">
    {% include 'baza/bazno_okno.html' %}

    <tabela-vnosov>
        
    </tabela-vnosov>

    {% if tip == "vele_prodaja" %}
        {% include "baza/placilno_okno.html" %}
    {% endif %}
</baza-model-element>



<script>
    var poskus = document.querySelector("#poskus");
    poskus.model = baza;

        function novVnos(sestavina,stevilo){
            $.ajax({
                url: '{% url "nov_vnos" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'sestavina':sestavina,
                'stevilo':stevilo,
                'baza': baza["id"]
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        vstaviVrstico(data["vnos"]);
                        refreshPage();
                    } else {
                        alert("NAPAKA");
                    } 
                }
            }); 
        }

        function getSestavina(dimenzija,tip){
            for(var sestavina of sestavine){
                if(sestavina["dimenzija_id"] == parseInt(dimenzija) && sestavina["tip_id"] == parseInt(tip)){
                    return sestavina;
                }
            } 
            return null;
        }
    </script>
{% endblock %} 

