{% extends 'program/base.html' %}

{% load zaloga_exstras %}

{% block content %}
<style>
    div.okno{
        margin-top:2%;
        display:inline-block;
        width:90%;
        border: 1px solid black;
        font-size:5vmin;
    }
    div.delovno_okno{
        margin-top:1%;
        display:inline-block;
        width:80%;
        height:6%;
        border: 1px solid black;
        font-size:3vmin;
        padding-top: 10px;
        text-align:center
    }
    div.table{
        display:block;
        text-align:center;
        margin-top:1%
    }
    div.delovno{
        position:relative;
        display:none;
        width:90%;
        left:5%;
        height:10%;
        text-align:center;
        margin-top:2%
    }
</style>

<script>
    var baza = JSON.parse('{{values|json|safe}}');
</script>

{% include 'js/ajax_requests.html' %}
{% include 'baza/bazno_okno.html' %}

{% if tip == "vele_prodaja" %}
    {% include "baza/placilno_okno.html" %}
{% endif %}

<div class="delovno_okno">
    {% if status != "zaklenjeno" %}
        {% if tip == "inventura" %}
            <button onclick="Izracunaj_razliko()"> Razlika </button>
            <button onclick="Preklici_razliko()"> Preklici razliko </button>
            <button id="shrani_vse"> {{slovar|keyvalue:'Shrani vse'|keyvalue:jezik}} </button>
        {% else %}
            {% if perms.zaloga.add_vnos %}
                <button id="pokazi_nov_vnos_button" class="nov_vnos vnosi" style="width:15%" > {{slovar|keyvalue:'Nov vnos'|keyvalue:jezik}} </button>
                <select class="nov_vnos skrit" style="width:15%" id="dimenzija">
                    {% for dimenzija in dimenzije %}
                        <option value="{{dimenzija.id}}"> {{dimenzija.dimenzija}} </option>
                    {% endfor %}
                </select>
                <input type="number" id="stevilo" class="nov_vnos skrit" min="1" max="999" style="text-align:center">
                <select id="tip" class="nov_vnos skrit">
                    {% for tip in tipi %}
                        <option value="{{tip.id}}"> {{tip.kratko}}  </option>
                    {% endfor %}
                </select>
                <button id="nov_vnos_button" class="nov_vnos skrit" > {{slovar|keyvalue:'Nov vnos'|keyvalue:jezik}} </button>
                <button id="preklici_nov_vnos_button" class="nov_vnos skrit"> {{slovar|keyvalue:'Preklici'|keyvalue:jezik}} </button>
            {% endif %}
            {% if status == "aktivno" %}
                <button id="vnosi_button" class="nov_vnos vnosi"> {{slovar|keyvalue:'Vec vnosov'|keyvalue:jezik}} </button>
            {% endif %}
            <button id="shrani_vse_button" class="vnosi skrit"> {{slovar|keyvalue:'Shrani vse'|keyvalue:jezik}} </button>
        {% endif %} 
        {% if status == "aktivno" %}
            <button id="izbrisi_vse_button" class="nov_vnos inline vnosi" > Izbrisi_vse </button>
            {% if tip == "inventura" %}
                <form class="nov_vnos inline vnosi" action="{% url 'nastavi_vnose_inventure' zaloga_pk tip values.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="vnosi" value="Nastavi zalogo">
                </form>    
            {% endif %}
            <form enctype='multipart/form-data' class="nov_vnos inline vnosi" style="margin-left:3px;margin-right:3px"  action="{% url 'iz_datoteke' zaloga_pk tip values.id %}" method="POST">
                {% csrf_token %}
                <input style="display:inline-block;width:150px " id="iz_datoteke" name="datoteka" type="file" value="Brskaj" required>
                <input style="display:inline-block;" type="submit" value="{{slovar|keyvalue:'Dodaj iz datoteke'|keyvalue:jezik}}">
            </form>
            <form class="nov_vnos inline vnosi" action="{% url 'uveljavi_bazo' zaloga_pk tip values.id %}" method="POST">
                {% csrf_token %}
                <input id="uveljavi_button" type="submit" class="vnosi" value="{{slovar|keyvalue:'Uveljavi'|keyvalue:jezik}}">
            </form>
            <button id="preklici_vnosi_button" class="vnosi skrit" > {{slovar|keyvalue:'Preklici veckratni vnos'|keyvalue:jezik}}</button>
            {% if tip == "inventura" %}
                <form class="nov_vnos inline vnosi" action="{% url 'pdf_razlike' zaloga_pk tip values.id %}" method="GET">
                    <input style="width:150px" type="submit" value="PDF Razlike">
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    {% include 'forms/pdf_baze_form.html' with tip=tip baza=values.id zaloga=zaloga_pk select=True razlicni_tipi=baza.razlicni_tipi %}
</div>

    
{% if status == "aktivno" %}
    {% include 'baza/filter.html' with tip=tip tipi=tipi radiusi=razlicni_radiusi slovar=slovar dosedanje_kupljene=dosedanje_kupljene %}
{% endif %}


{% if tip != "inventura" or status == "veljavno" or status == "zaklenjeno" %}
    {% include 'baza/tabela_vnosov.html' %}
{% endif %}

{% if status == "aktivno" %}
    {% include 'baza/inventurna_tabela.html' %}
{% endif %}


{% endblock %} 

{% block javascript %}
    <script>
        $("#pokazi_nov_vnos_button, #preklici_nov_vnos_button").click(function(){
            $(".nov_vnos").toggle();
        });
        $("#vnosi_button, #preklici_vnosi_button").click(function(){
            $(".vnosi").toggleClass("skrit");
        });
        $("#uveljavi_button").click(function(){
            if(confirm()){this.disabled=true;}
        })
        $("#izbrisi_vse_button").click(function(){
            alert("BRISEM VSE");
        });

        $('.spremeni_button').click(function(){
            spremeniBazaValue(this.getAttribute("data-sprememba"),function(){});
        });
        
        function izbrisiVnos(pk){
            $.ajax({
                url: '{% url "izbrisi_vnos" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'pk': pk,
                },
                dataType: 'json',
                success: function (data) {
                    var row = document.getElementById('vrstica_' + pk);
                    row.parentNode.removeChild(row);
                    Refresh_inventurna_tabela(data);
                    Refresh_tabela_vnosov(data);
                    Nastavi_vrstice('tabela_vnosov','index');
                }
            }); 
        }

        function spremeniVnos(pk, stevilo, cena){
            $.ajax({
                url: '{% url "spremeni_vnos" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'pk': pk,
                'stevilo': stevilo,
                'cena':cena,
                },
                dataType: 'json',
                success: function (data) {
                    baza = data["baza"];
                    Refresh_vrstica(data["vnos"]);
                    Refresh_tabela_vnosov();
                }
            }); 
        }

        function novVnos(sestavina,stevilo){
            $.ajax({
                url: '{% url "nov_vnos" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'sestavina':sestavina,
                'stevilo':stevilo,
                'pk': '{{values.id}}'
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        Vstavi_vrstico(data["vnos"]);
                        Refresh_tabela_vnosov();
                    } else {
                        alert("NAPAKA");
                    } 
                }
            }); 
        }

        function spremeniBazaValue(sprememba,funkcija){
            $.ajax({
                url: "{% url 'spremeni_baza_value' %}",
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'value': $('#' + sprememba + '_value').val(),
                'baza': baza["id"],
                'sprememba':sprememba
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        refreshPage();
                        ToggleClass('.' + sprememba,'skrit');
                    } else {
                        alert("NAPAKA");
                    }
                }
            });  
        };

        function refreshPage(){
            $("#skupno_stevilo").html(baza["skupno_stevilo"]);
            $("#koncna_cena").html(baza["koncna_cena"] + " $");
            $("#placilo_koncna_cena").html("/ " + baza["koncna_cena"] + " $");
            $("#cena_popusta").html(baza["cena_popusta"] + " $");
            $("#popust").html(baza["popust"] + " %");
            $("#prevoz").html(baza["prevoz"] + " $");
            $("#cena_prevoza").html(baza["cena_prevoza"] + " $");
            $("#placilo").html(baza["placilo"] + " $");
            $("#dolg").html(baza["dolg"] + " $");
        }
    </script>
{% endblock %}