{% extends 'program/base.html' %}

{% load staticfiles %}
{% load zaloga_exstras %}

{% block javascript %}
    <script>
        var baza = JSON.parse('{{values|json|safe}}');
        var dimenzije = JSON.parse('{{dimenzije|jsonList|safe}}');
        var sestavine = JSON.parse('{{sestavine|jsonList|safe}}');
    </script>
    <script src="{% static 'js/dimenzija_filter.js' %}"></script>
    
{% endblock %}

{% block content %}
<style>
    div.okno{
        margin-top:2%;
        display:inline-block;
        width:90%;
        border: 1px solid black;
        font-size:5vmin;
    }
    div.delovno_okno{
        margin-top:1%;
        margin-left:10%;
        margin-right:10%;
        width:80%;
        height:6%;
        border: 1px solid black;
        font-size:3vmin;
        padding-top: 10px;
        text-align:center
    }
    div.table{
        display:block;
        text-align:center;
        margin-top:1%
    }
    div.delovno{
        position:relative;
        display:none;
        width:90%;
        left:5%;
        height:10%;
        text-align:center;
        margin-top:2%
    }
</style>

{% include 'baza/bazno_okno.html' %}

{% if tip == "vele_prodaja" %}
    {% include "baza/placilno_okno.html" %}
{% endif %}

<div id="delovno_okno" class="delovno_okno">
    <button class="toggle_nov_vnos_button" style="width:15%" > {{slovar|keyvalue:'Nov vnos'|keyvalue:jezik}} </button> 
    <button id="izbrisi_vse_button"> Izbrisi vse </button>
    <form enctype='multipart/form-data' class="inline" style="margin-left:3px;margin-right:3px"  action="{% url 'iz_datoteke' zaloga_pk tip values.id %}" method="POST">
        {% csrf_token %}
        <input style="display:inline-block;width:150px " id="iz_datoteke" name="datoteka" type="file" value="Brskaj" required>
        <input style="display:inline-block;" type="submit" value="{{slovar|keyvalue:'Dodaj iz datoteke'|keyvalue:jezik}}">
    </form>
    <form class="inline" action="{% url 'uveljavi_bazo' zaloga_pk tip values.id %}" method="POST">
        {% csrf_token %}
        <input id="uveljavi_button" type="submit" value="{{slovar|keyvalue:'Uveljavi'|keyvalue:jezik}}">
    </form>   
    {% if tip == "inventura" %}
        <form class="nov_vnos inline vnosi" action="{% url 'pdf_razlike' zaloga_pk tip values.id %}" method="GET">
            <input style="width:150px" type="submit" value="PDF Razlike">
        </form>
    {% endif %}
    {% include 'forms/pdf_baze_form.html' with tip=tip baza=values.id zaloga=zaloga_pk select=True razlicni_tipi=baza.razlicni_tipi %}
</div>

{% include './nov_vnos.html' %}

{% if status == "aktivno" %}
    {% include 'baza/filter.html' with radiusi=razlicni_radiusi %}
{% endif %}

{% if tip != "inventura" or status == "veljavno" or status == "zaklenjeno" %}
    {% include 'baza/tabela_vnosov.html' %}
{% endif %}

<script>
        $(".vnosi_button").click(function(){alert("DELAM8")});
        $("#izbrisi_vse_button").click(function(){
            $.ajax({
                url: '{% url "izbrisi_vse" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'baza': baza["id"]
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        $("#tabela_vnosov tr.vnos_row").remove();
                        refreshPage();
                    } else {
                        alert("NAPAKA");
                    }
                    
                }
            });
        })
        $("#pokazi_nov_vnos_button, #preklici_nov_vnos_button").click(function(){
            $(".nov_vnos").toggle();
        });
        $("#vnosi_button").click(function(){
            alert("DELAM");
        });
        $("#uveljavi_button").click(function(){
            alert("DELAM");
        })

        $('.spremeni_button').click(function(){
            spremeniBazaValue(this.getAttribute("data-sprememba"),function(){});
        });
        
        function izbrisiVnos(vnos){
            $.ajax({
                url: '{% url "izbrisi_vnos" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'vnos': vnos
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        odstraniVrstico(data["vnos"]);
                        refreshPage();
                    } else {
                        alert("NAPAKA");
                    }
                    
                }
            }); 
        }

        function spremeniVnos(vnos, stevilo, cena){
            $.ajax({
                url: '{% url "spremeni_vnos" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'vnos': vnos,
                'stevilo': stevilo,
                'cena':cena
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        refreshVrstica(data["vnos"]);
                        refreshPage();
                    } else {
                        alert("NAPAKA");
                    }    
                }
            }); 
        }

        function novVnos(sestavina,stevilo){
            $.ajax({
                url: '{% url "nov_vnos" %}',
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'sestavina':sestavina,
                'stevilo':stevilo,
                'baza': baza["id"]
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        vstaviVrstico(data["vnos"]);
                        refreshPage();
                    } else {
                        alert("NAPAKA");
                    } 
                }
            }); 
        }

        function spremeniBazaValue(sprememba,funkcija){
            $.ajax({
                url: "{% url 'spremeni_baza_value' %}",
                method: 'POST',
                data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'value': $('#' + sprememba + '_value').val(),
                'baza': baza["id"],
                'sprememba':sprememba
                },
                dataType: 'json',
                success: function (data) {
                    if(data["success"]){
                        baza = data["baza"];
                        refreshPage();
                        ToggleClass('.' + sprememba,'skrit');
                    } else {
                        alert("NAPAKA");
                    }
                }
            });  
        };

        function refreshPage(){
            refreshTabelaVnosov();
            $("#skupno_stevilo").html(baza["skupno_stevilo"]);
            $("#koncna_cena").html(baza["koncna_cena"] + " $");
            $("#placilo_koncna_cena").html("/ " + baza["koncna_cena"] + " $");
            $("#cena_popusta").html(baza["cena_popusta"] + " $");
            $("#popust").html(baza["popust"] + " %");
            $("#prevoz").html(baza["prevoz"] + " $");
            $("#cena_prevoza").html(baza["cena_prevoza"] + " $");
            $("#placilo").html(baza["placilo"] + " $");
            $("#dolg").html(baza["dolg"] + " $");
        }

        function getSestavina(dimenzija,tip){
            for(var sestavina of sestavine){
                if(sestavina["dimenzija_id"] == parseInt(dimenzija) && sestavina["tip_id"] == parseInt(tip)){
                    return sestavina;
                }
            } 
            return null;
        }
    </script>
{% endblock %} 

