{% load zaloga_exstras %}

<style>
    #bazno_okno{
        position:relative;
        width:80%;
        height:auto;
        margin:2%;
        margin-left:10%;
        border:1px solid black
    }
    div.edit{
        height:5%;
    }
    #tabela_podatkov td{
        width:25%;
        height:3.4vh;
        font-size:3vh;
        text-align:left;
    }
    #tabela_podatkov td.info{
        width:18%;
    }

    #bazno_okno div.table{
        margin-left:5%;
        width:85%;
    }
    #bazno_okno div.edit{
        text-align:center;
        margin:1.5%;
    }
    .edit_bazno_okno_button{
        position:absolute;
        width:5%;
        left:95%;
        height:5vh;
    }
    .pdf_button{
        position:absolute;
        width:5%;
        left:95%;
        height:5vh;
        bottom:0;
        margin:0;
    }
    #edit_button{
        width:15%;
        height:5vh;
    }
    #uveljavi_button{
        width:15%;
        height:5vh;
    }
    #bazno_okno form{
        width:100%;
        height:100%;
    }
</style>

<div class="baznoOkno">
    <button class="edit_bazno_okno_button" is="toggle-button" toggle=".edit, .sprememba" scope="div"> E </button>
    <value-element text="Tip baze:" attrName="tip"> </value-element>
    <model-select-value-element options='{{dobavitelji|jsonList|safe}}' filter="prevzem" text="Dobavitelj:" attrName="dobavitelj" textAttr="naziv"> </model-select-value-element>
    <model-select-value-element options='{{stranke|jsonList|safe}}' filter="vele_prodaja" text="Stranka:" attrName="stranka" textAttr="naziv"> </model-select-value-element>
    <value-element text="Title:" attrName="title"> </value-element>
    <input-value-element filter="prevzem" text="Kontejner:" attrName="kontejner__stevilka"> </input-value-element>
    <input-value-element type="date" text="Datum:" attrName="datum"> </input-value-element>
    
    <div class="buttons">
        <div class="edit skrit">
            <button is="save-button" scope=".baznoOkno"> Shrani </button>
        </div>
        <div class="edit">
            <button> Uveljavi </button>
        </div>
    </div>
</div>

    
