{% load zaloga_exstras %}

<style>
    input.stevilo{
        text-align:center;
        width:60%
    }
    div.inventurna_tabela{
        margin:2.5%;
        text-align:center;
        width:75%;
    }
</style>

<div class="inventurna_tabela vnosi inline">
    <table class="tabela_vnosov"  id="inventurna_tabela" >
        {% include "./inventurna_tabela_header.html" %}
        {% for sestavina in sestavine %}
            {% include "./inventurna_tabela_row.html" %}
        {% endfor %}
    </table>
</div>


<script>
    $(document).ready(function() {
        {% if tip == "vele_prodaja" or tip == "prenos" %}
            ToggleClass('.na_voljo', 'skrit')
        {% endif %}
        {% if tip != "inventura" %}
            ToggleClass('.inventurna_tabela', 'skrit')
        {% else %}
            ToggleClass('.inventura', 'skrit')
        {% endif %}
        {% for sestavina in sestavine %}
            {% if sestavina.vnesena %}
                var stevilo = "{{sestavina.stevilo_vnosa}}"
                var pk = "{{sestavina.pk_vnosa}}"
                set_innerHtml('stevilo_{{sestavina.id}}',stevilo)
                set_value('pk_{{sestavina.id}}', pk)
                ToggleClass('.{{sestavina.id}}','skrit')
                ToggleClass('.{{sestavina.id}}.sprememba','skrit')
            {% endif %}
        {% endfor %}
    });

    function Spremeni_Vnos(sestavina_id){
        var pk = get_value('pk_' + sestavina_id)
        var stevilo = get_value('stevilo_value_' + sestavina_id)
        var cena = ""
        if (stevilo != "" ){
            Spremeni_vnos(pk,stevilo,cena)
            ToggleClass('.' + sestavina_id, 'skrit')
            ToggleClass('.' + sestavina_id + '.novo', 'skrit')
        }
    }
    function Nov_Vnos(sestavina_id){
        var stevilo = get_value('stevilo_value_' + sestavina_id)
        if (stevilo != ""){
            Nov_vnos(sestavina_id,stevilo)
        }
    }
    function Shrani_vse(gumb){
        gumb.disabled = true;
        {% for sestavina in sestavine %}
            var stevilo = get_value('stevilo_value_{{sestavina.id}}')
            var pk = get_value('pk_{{sestavina.id}}')
            if (stevilo != "" && pk != ""){
                Spremeni_Vnos('{{sestavina.id}}')
            } else if ( stevilo != "" && pk == ""){
                Nov_Vnos('{{sestavina.id}}')
            }
        {% endfor %}
        setTimeout(() => { gumb.disabled = false }, 2000);
    }
    function Izracunaj_razliko(){
        var vrstice = $('#inventurna_tabela tr.vrstica')
        for (var i = 0; i < vrstice.length; i++){
            var vrstica = vrstice[i];
            vrstica.classList.add('skrit')
            var stevilo = get_innerHtml('stevilo_' + vrstica.id);
            var zaloga = get_innerHtml('zaloga_' + vrstica.id);
            if (stevilo != ""){
                var razlika = parseInt(stevilo) - parseInt(zaloga)
                if ( razlika != 0){
                    vrstica.classList.add("razlika");
                    set_innerHtml('razlika_' + vrstica.id, razlika);
                }
            }
        }
        ToggleClass('.razlika', 'skrit')
    }
    function Preklici_razliko(){
        $('.vrstica').removeClass('skrit')
        $('td.razlika').addClass('skrit')
        $('th.razlika').addClass('skrit')
        Filtriraj()
    }
</script>