<tr class="header">
    <th width="30%"> {{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}: </th>
    <th width="15%"> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </th>
    <th width="15%"> {{slovar|keyvalue:'Vnos'|keyvalue:jezik}}: </th>
    <th width="10%" class="skrit inventura"> {{slovar|keyvalue:'Zaloga'|keyvalue:jezik}}: </th>
    <th width="10%" class="skrit razlika"> {{slovar|keyvalue:'Razlika'|keyvalue:jezik}}: </th>
    <th width="10%" class="skrit naroceno"> Naroceno: </th>
    <th width="10%" class="skrit na_voljo"> {{slovar|keyvalue:'Na voljo'|keyvalue:jezik}}: </th>
    <th width="20%" > {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}}: </th>  
</tr>