{% load zaloga_exstras %}

<style>
    input.stevilo{
        text-align:center;
        width:60%
    }
    div.inventurna_tabela{
        margin:2.5%;
        text-align:center;
        width:75%;
    }
</style>

<div class="inventurna_tabela vnosi inline">
    <table class="tabela_vnosov"  id="inventurna_tabela" >
        <tr class="header">
            <th width="30%"> {{slovar|keyvalue:'Dimenzija'|keyvalue:jezik}}: </th>
            <th width="15%"> {{slovar|keyvalue:'Tip'|keyvalue:jezik}}: </th>
            <th width="15%"> {{slovar|keyvalue:'Vnos'|keyvalue:jezik}}: </th>
            <th width="10%" class="skrit inventura"> {{slovar|keyvalue:'Zaloga'|keyvalue:jezik}}: </th>
            <th width="10%" class="skrit razlika"> {{slovar|keyvalue:'Razlika'|keyvalue:jezik}}: </th>
            <th width="10%" class="skrit na_voljo"> {{slovar|keyvalue:'Na voljo'|keyvalue:jezik}}: </th>
            <th width="20%" > {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}}: </th>  
        </tr>
        {% for sestavina in sestavine %}
            {% with podatki=sestavine|keyvalue:sestavina sestavina=sestavina|replace %}
            <tr id="{{sestavina}}" class="vrstica {{podatki.radius}} {{podatki.tip}}">
                <input type="text" class="skrit" id="pk_{{sestavina}}">
                <td> {{podatki.dimenzija}} </td>
                <td> {{podatki.tip}} </td>
                <td>
                    <div class="{{sestavina}} skrit" id="stevilo_{{sestavina}}"></div>
                    <input class="{{sestavina}} stevilo" id="stevilo_value_{{sestavina}}" type="text">
                </td>
                <td id="zaloga_{{sestavina}}" class="skrit inventura"> {{podatki.zaloga}} </td>
                <td id="razlika_{{sestavina}}" class="razlika skrit"> </td>
                {% with dimenzija=sestavina|replace %}
                <td id="na_voljo_{{sestavina}}" class="skrit na_voljo"> {{na_voljo|keyvalue:dimenzija}} </td>
                {% endwith %}
                <td>
                    <button class="{{sestavina}} novo" onclick="Nov_Vnos('{{sestavina}}')"> {{slovar|keyvalue:'Potrdi'|keyvalue:jezik}} </button> 
                    <button class="{{sestavina}} skrit" onclick="ToggleClass('.{{sestavina}}','skrit');ToggleClass('.{{sestavina}}.novo','skrit')"> {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}} </button>
                    <button class="{{sestavina}} skrit" onclick="Izbrisi_vnos(get_value('pk_{{sestavina}}'))"> X </button>
                    <button class="{{sestavina}} sprememba skrit" onclick="Spremeni_Vnos('{{sestavina}}')"> Ok </button>
                    <button class="{{sestavina}} sprememba skrit" onclick="ToggleClass('.{{sestavina}}','skrit');ToggleClass('.{{sestavina}}.novo','skrit')"> <- </button>     
                </td> 
            </tr>
            {% endwith %}
        {% endfor %}
    </table>
</div>


<script>
    $(document).ready(function() {
        {% if tip == "vele_prodaja" or tip == "prenos" %}
            ToggleClass('.na_voljo', 'skrit')
        {% endif %}
        {% if tip != "inventura" %}
            ToggleClass('.inventurna_tabela', 'skrit')
        {% else %}
            ToggleClass('.inventura', 'skrit')
        {% endif %}
        {% for sestavina in sestavine %}
            {% if sestavina in vnosi %}
                var stevilo = "{{vnosi|keyvalue:sestavina|keyvalue:'stevilo'}}"
                var pk = "{{vnosi|keyvalue:sestavina|keyvalue:'pk'}}"
                set_innerHtml('stevilo_{{sestavina|replace}}',stevilo)
                set_value('pk_{{sestavina|replace}}', pk)
                ToggleClass('.{{sestavina|replace}}','skrit')
                ToggleClass('.{{sestavina|replace}}.sprememba','skrit')
            {% endif %}
        {% endfor %}
    });
    function Spremeni_Vnos(dimenzija_tip){
        var pk = get_value('pk_' + dimenzija_tip)
        var stevilo = get_value('stevilo_value_' + dimenzija_tip)
        var cena = ""
        if (stevilo != "" ){
            Spremeni_vnos(pk,stevilo,cena)
            ToggleClass('.' + dimenzija_tip, 'skrit')
            ToggleClass('.' + dimenzija_tip + '.novo', 'skrit')
        }
    }
    function Nov_Vnos(dimenzija_tip){
        var dimenzija = dimenzija_tip.split('_')[0]
        var tip = dimenzija_tip.split('_')[1]
        var stevilo = get_value('stevilo_value_' + dimenzija_tip)
        if (stevilo != ""){
            Nov_vnos(dimenzija,tip,stevilo)
        }
    }
    function Shrani_vse(gumb){
        gumb.disabled = true;
        {% for sestavina in sestavine %}
            {% with podatki=sestavine|keyvalue:sestavina sestavina=sestavina|replace %}
                var stevilo = get_value('stevilo_value_{{sestavina}}')
                var pk = get_value('pk_{{sestavina}}')
                if (stevilo != "" && pk != ""){
                    Spremeni_Vnos('{{sestavina}}')
                } else if ( stevilo != "" && pk == ""){
                    Nov_Vnos('{{sestavina}}')
                }
            {% endwith %}
        {% endfor %}
        setTimeout(() => { gumb.disabled = false }, 2000);
    }
    function Izracunaj_razliko(){
        var vrstice = $('#inventurna_tabela tr.vrstica')
        for (var i = 0; i < vrstice.length; i++){
            var vrstica = vrstice[i];
            vrstica.classList.add('skrit')
            var stevilo = get_innerHtml('stevilo_' + vrstica.id);
            var zaloga = get_innerHtml('zaloga_' + vrstica.id);
            if (stevilo != ""){
                var razlika = parseInt(stevilo) - parseInt(zaloga)
                if ( razlika != 0){
                    vrstica.classList.add("razlika");
                    set_innerHtml('razlika_' + vrstica.id, razlika);
                }
            }
        }
        ToggleClass('.razlika', 'skrit')
    }
    function Preklici_razliko(){
        $('.vrstica').removeClass('skrit')
        $('td.razlika').addClass('skrit')
        $('th.razlika').addClass('skrit')
        Filtriraj()
    }
</script>