{% load zaloga_exstras %}

<style>
    input.stevilo{
        text-align:center;
        width:60%
    }
    div.inventurna_tabela{
        margin:2.5%;
        text-align:center;
        width:75%;
    }
</style>

<div class="inventurna_tabela vnosi inline">
    <table class="tabela_vnosov"  id="inventurna_tabela" >
        {% include "./inventurna_tabela_header.html" %}
        {% for sestavina in sestavine %}
            {% include "./inventurna_tabela_row.html" %}
        {% endfor %}
    </table>
</div>

<script>
    $(document).ready(function() {
        $("tr[data-vnesena='True'] .nov_vnos").toggleClass("skrit");
        $("tr[data-vnesena='False'] .stevilo_vnosa").toggleClass("skrit");
        $("tr[data-vnesena='False'] .spremeni_vnos").toggleClass("skrit");

        {% if tip == "vele_prodaja" or tip == "prenos" %}
            ToggleClass('.na_voljo', 'skrit')
        {% endif %}
        {% if tip != "inventura" %}
            ToggleClass('.inventurna_tabela', 'skrit')
        {% else %}
            ToggleClass('.inventura', 'skrit')
        {% endif %}
    });
</script>

<script>
    $("#inventurna_tabela .show_spremeni_vnos_button").click(function(){
        $(".sprememba",this.parentElement.parentElement.parentElement.parentElement).toggleClass("skrit");
    });

    $("#inventurna_tabela .spremeni_vnos_button").click(function(){
        var vrstica = this.parentElement.parentElement.parentElement.parentElement
        var vnos = vrstica.getAttribute("data-vnos");
        var stevilo = $("input.stevilo",vrstica).val();
        Spremeni_vnos(vnos,stevilo,"");
        $(".sprememba",vrstica).toggleClass("skrit");
    });

    $("#inventurna_tabela .izbrisi_vnos_button").click(function(){
        var vrstica = this.parentElement.parentElement.parentElement.parentElement;
        var vnos = vrstica.getAttribute("data-vnos");
        Izbrisi_vnos(vnos);
        $("td.edit div",vrstica).toggleClass("skrit");
    });

    $("#inventurna_tabela .nov_vnos_button").click(function(){
        var vrstica = this.parentElement.parentElement.parentElement;
        var sestavina = vrstica.getAttribute("data-sestavina");
        var stevilo = $("input.stevilo",vrstica).val();
        Nov_vnos(sestavina,stevilo); 
        $("td.edit div",vrstica).toggleClass("skrit");
    });
    
    $(".shrani_vse_button").click(function(){
        this.disabled = true;
        $("#inventurna_tabela tr").each(function(){
            if(this.getAttribute("data-vnesena") == "True"){
                var stevilo = $("input.stevilo",this).val();
                if(stevilo != "" && stevilo != this.getAttribute("data-stevilo")){
                    var vnos = this.getAttribute("data-vnos");
                    Spremeni_vnos(vnos,stevilo);
                }
            } else{
                var stevilo = $("input.stevilo",this).val();
                if(stevilo != ""){
                    var sestavina = this.getAttribute("data-sestavina");
                    Nov_vnos(sestavina,stevilo);
                }
            }
        })
        setTimeout(() => { this.disabled = false }, 2000);
    });

</script>