{% load zaloga_exstras %}

<tr data-stevilo="{{sestavina.stevilo_vnosa}}" data-vnos="{{sestavina.pk_vnosa}}" data-sestavina="{{sestavina.id}}" data-vnesena="{{sestavina.vnesena}}" data-radij={{sestavina.radij_dimenzije}} data-tip={{sestavina.kratek_tip}}>
    <td class="dimenzija"> {{sestavina.naziv_dimenzije}} </td>
    <td class="tip"> {{sestavina.kratek_tip}} </td>
    <td class="stevilo">
        <div class="sprememba stevilo_vnosa"> {{sestavina.stevilo_vnosa}} </div>
        <div class="sprememba stevilo_vnosa skrit"> <input class="stevilo" type="number"> </div>
    </td>
    <td class="skrit inventura zaloga"> {{sestavina.stanje}} </td>
    <td class="razlika skrit razlika"> </td>
    <td class="skrit na_voljo"> {{sestavina.stanje}} </td>
    <td class="edit">
        <div class="nov_vnos">
            <button class="nov_vnos_button"> {{slovar|keyvalue:'Potrdi'|keyvalue:jezik}} </button> 
        </div>
        <div class="spremeni_vnos">
            <div class="sprememba">
                <button class="show_spremeni_vnos_button"> {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}} </button>
                <button class="izbrisi_vnos_button" id="{{sestavina.id}}2"> X </button>
            </div>
            <div class="sprememba skrit">
                <button class="spremeni_vnos_button"> Ok </button>
                <button class="show_spremeni_vnos_button"> <- </button>     
            </div>
        </div>
    </td> 
</tr>
