{% load zaloga_exstras %}
<style>
    #nov_vnos{
        height:45%;
        width:60%;
        margin:5%;
    }
    table.nov_vnos{
        width:100%;
        height:100%;
    }
    table.nov_vnos button{
        width:100%;
        height:100%;
    }
    table.nov_vnos td{
        width: 50%;
        text-align:center;
    }
    #nov_vnos_button{
        width:33%;
    }
</style>

<div id="nov_vnos" class="nov_vnos skrit inline">
    <dimenzija-filter id="dimenzija_filter">
    </dimenzija-filter>
    <div id="koncno">
        <table class="nov_vnos">
            <tr>
                <td> <button id="back_button"> Nazaj </button>
                <td> <button class="toggle_nov_vnos_button"> Izhod </button>
            </tr>
            <tr>
                <td> Dimenzija: </td>
                <td>
                    <div class="inline" id="dimenzija_value" data-dimenzija=""></div> 
                </td>
            </tr>
            <tr>
                <td> Tip: </td>
                <td> 
                    <select id="tip_value"> 
                        {% for tip in tipi %}
                            <option value="{{tip.id}}"> {{tip.dolgo}} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td> Število: </td>
                <td> 
                    <input type="number" min="0" id="stevilo_value">
                </td>
            </tr>
            <tr class="cena">
                <td> Cena: </td>
                <td> 
                    <input type="number" step="0.01" min="0" id="cena_value">
                </td>
            </tr>
            <tr>
                <td colspan="2"> 
                    <button id="nov_vnos_button"> Potrdi </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    document.querySelector("#dimenzija_filter").finalAction = finalAction;

    if(baza["tip"] != "vele_prodaja"){
        $("#nov_vnos tr.cena").toggleClass("skrit");
    }

    $('#back_button').click(function(){
        $("#nov_vnos > *").toggleClass("skrit");
        $("#stevilo_value, #cena_value").val("");
        document.querySelector('#dimenzija_filter').clear();
        document.querySelector('#dimenzija_filter').focus();
    });

    $('.toggle_nov_vnos_button').click(function(){
        var dimenzija_filter = document.querySelector('#dimenzija_filter');
        dimenzija_filter.radij = "all";
        dimenzija_filter.classList.remove("skrit");
        document.querySelector('#koncno').classList.add('skrit');
        $('#delovno_okno').toggleClass("skrit");
        $('#nov_vnos').toggleClass("skrit");
        if(!$('#nov_vnos').hasClass("skrit")){
            dimenzija_filter.focus();
        };
    });

    $('#nov_vnos_button').click(function(){
        var dimenzija = document.querySelector("#dimenzija_filter").dimenzija;
        var tip = $("#tip_value").val();
        var stevilo = $("#stevilo_value").val();
        var cena = $("cena_value").val();
        var sestavina = getSestavina(dimenzija["id"],tip);
        novVnos(sestavina["id"],stevilo);
        document.getElementById("back_button").click();

    });

    function finalAction(){
        $("#nov_vnos > *").toggleClass("skrit");
        var filter = document.querySelector("#dimenzija_filter");
        var dimenzija = filter.dimenzija;
        $('#dimenzija_value').html(dimenzija["dimenzija"]);
        document.querySelector('#tip_value').focus();
    }

</script>