{% load zaloga_exstras %}

<style>
    .placiloInput{
        width:20%;
    }
    .koncnaCenaInput{
        width:10%;
    }
    .dolgValue{
        margin-left:5%;
        width:20%;
    }
</style>

<div class="placilnoOkno">
    <input-value-element class="placiloInput" type="price" attrName="placilo" text="Placilo:"> </input-value-element>
    /
    <value-element class="koncnaCenaInput" type="price" attrName="koncna_cena"> </value-element>
    <div class="inline sprememba skrit">
        <button is="save-button"> OK </button>
        <button is="toggle-button" scope=".placilnoOkno"> <- </button>
    </div>
    <button is="toggle-button" class="sprememba" scope=".placilnoOkno"> Spremeni </button>
    <value-element class="dolgValue" type="price" attrName="dolg" text="Dolg:"></value-element>
</div>

