{% load zaloga_exstras %}

<tr class="endrow">
    <td colspan="2"> Skupni stroški: </td>
    <td colspan="1">  
        <div id="ladijski_prevoz" class="ladijski_prevoz"> {{values.ladijski_prevoz_value}} $</div>
        <input style="width:60%" type="text" class="ladijski_prevoz skrit" id="ladijski_prevoz_value" value="">
        <div class="ladijski_prevoz skrit inline">$</div>  
    </td>
    <td colspan="2">   
        <button class="ladijski_prevoz" onclick="ToggleClass('.ladijski_prevoz','skrit')"> {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}} </button>
        <button class="spremeni_button ladijski_prevoz skrit" data-sprememba="ladijski_prevoz"> Ok </button>
        <button class="ladijski_prevoz skrit" onclick="ToggleClass('.ladijski_prevoz','skrit')"> X </button>
    </td>
</tr>
<tr>
    <td colspan="2"> {{slovar|keyvalue:'Razlika'|keyvalue:jezik}}: </td>
    <td colspan="2" id="razlika"> {{values.razlika}} $ </td>
    {% if status != "zaklenjeno" %}
        <td> </td>
    {% endif %}
</tr>