{% load zaloga_exstras %}

<tr class="endrow">
    <td> {{slovar|keyvalue:'Popust'|keyvalue:jezik}}: </td>
    <td>  
        <div id="popust" class="popust"> {{values.popust}} % </div>
        <input style="width:60%" type="text" class="popust skrit" id="popust_value" value="">
        <div class="popust skrit inline">%</div>  
    </td>
    <td>   
        <button class="popust" onclick="ToggleClass('.popust','skrit')"> {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}} </button>
        <button class="popust skrit spremeni_button" data-sprememba="popust"> Ok </button>
        <button class="popust skrit" onclick="ToggleClass('.popust','skrit')"> X </button>
    </td>
    <td colspan="2"> {{slovar|keyvalue:'Znesek popusta'|keyvalue:jezik}}: </td>
    <td id="cena_popusta"> {{values.cena_popusta}} $</td>
    <td colspan="2" > </td>
</tr>
<tr class="endrow">
    <td> {{slovar|keyvalue:'Prevoz'|keyvalue:jezik}}: </td>
    <td>  
        <div class="prevoz" id="prevoz"> {{values.prevoz}} $ </div>
        <input class="prevoz skrit inline" style="width:60%" type="text" id="prevoz_value" value="">
        <div class="prevoz skrit inline">$</div>  
    </td>
    <td>   
        <button class="prevoz" onclick="ToggleClass('.prevoz','skrit')"> {{slovar|keyvalue:'Spremeni'|keyvalue:jezik}} </button>
        <button class="prevoz skrit spremeni_button" data-sprememba="prevoz"> Ok </button>
        <button class="prevoz skrit" onclick="ToggleClass('.prevoz','skrit')"> X </button>
    </td>
    <td colspan="2"> {{slovar|keyvalue:'Cena prevoza'|keyvalue:jezik}}: </td>
    <td id="cena_prevoza"> {{values.cena_prevoza}} $</td>
    <td colspan="2" > </td>
</tr>
<tr class="endrow">
    <td colspan="5"> {{slovar|keyvalue:'Koncna cena'|keyvalue:jezik}}: </td>
    <td id="koncna_cena"> {{values.koncna_cena}} $ </td>
    <td colspan="2" > </td>
</tr>