{% load zaloga_exstras %}

<style>
    input.input{
        text-align:center;
        width:60%
    }
</style>

<div class="vnosi inline" style="width:80%;margin:2%">
    <table id="tabela_vnosov" class="tabela_vnosov">
        {% include 'baza/tabela_vnosov_header.html' %}
        {% for vnos in vnosi %}
            {% include 'baza/tabela_vnosov_row.html' with index=forloop.counter %}
        {% endfor %}
        {% include './tabela_vnosov_row.html' %}
        {% include "./tabela_vnosov_skupno_row.html" %}; 
        {% if tip == "vele_prodaja" %}
            {% include "./tabela_vnosov_vele_prodaja.html" %}
        {% elif tip == "prevzem" %}
            {% include "./tabela_vnosov_prevzem.html" %}
        {% endif %}
    </table>
</div>

<script>
    $("#tabela_vnosov .show_spremeni_vnos_button").click(function(){
        $(".sprememba",this.parentElement.parentElement.parentElement).toggleClass("skrit");
    });

    $("#tabela_vnosov .spremeni_vnos_button").click(function(){
        var vrstica = this.parentElement.parentElement.parentElement
        var vnos = vrstica.getAttribute("data-vnos");
        var stevilo = $("input.stevilo",vrstica).val();
        if(stevilo == "" || stevilo <= 0){return;}
        alert(stevilo);
        var cena = $("input.cena",vrstica).val();
        spremeniVnos(vnos,stevilo,cena);
        $(".sprememba",vrstica).toggleClass("skrit");
    });

    $("#tabela_vnosov .izbrisi_vnos_button").click(function(){
        var vrstica = this.parentElement.parentElement.parentElement;
        var vnos = vrstica.getAttribute("data-vnos");
        izbrisiVnos(vnos);
    });

    function Vstavi_vrstico(vnos){
        var prazna_vrstica = document.getElementById("empty_row");
        var nova_vrstica = prazna_vrstica.cloneNode(true);
        nova_vrstica.setAttribute("data-vnos","2");
        nova_vrstica.classList.remove("skrit");
        $("#tabela_vnosov tr:nth-child(" + vnos["index"] + ")").after(nova_vrstica);
        refreshVrstica(vnos);
    }

    function refreshVrstica(vnos){
        var vrstica = $("#tabela_vnosov tr['data-vnos'=" + vnos["id"] + "]");
        $("div.dimenzija",vrstica).html(vnos["dimenzija"]);
        $("div.tip",vrstica).html(vnos["dimenzija"]);
        $("div.stevilo",vrstica).html(vnos["stevilo"]);
        $("div.cena",vrstica).html(vnos["cena"]);
        $("div.skupna_cena",vrstica).html(vnos["skupna_cena"]);
    }

</script>