{% load zaloga_exstras %}

<tr class="vrstica {{vnos.dimenzija__radius}} {{vnos.tip}} kupljena" id="vrstica_{{vnos.pk}}">
    <td class="index"> {{index}}. </td>
    <td > {{ vnos.dimenzija__dimenzija }} </td>
    <td class="tip">
        {{ vnos.tip }}
    </td>
    <td class="stevilo">
        <div id="stevilo_{{vnos.pk}}" class="{{vnos.pk}}">{{vnos.stevilo}}</div>
        <input class="{{vnos.pk}} skrit input" type="number" min=1 max="999" id="stevilo_value_{{vnos.pk}}" placeholder="({{vnos.stevilo}})" autocomplete="off">
    </td>
    {% if tip == "vele_prodaja" %}
        <td class="cena"> 
            <div id="cena_{{vnos.pk}}" class="{{vnos.pk}}">{{vnos.cena}} $</div>
            <input class="{{vnos.pk}} skrit input" type="text" name="cena" id="cena_value_{{vnos.pk}}" placeholder="({{vnos.cena}} $)" autocomplete="off" pattern="[0-9][0-9]?\.{0,1}[0-9]{0,2}">
            <div class="{{vnos.pk}} skrit inline"> $ </div>
        </td>
        <td id="cena_vnosa_{{vnos.pk}}"> {{vnos|skupna_cena}} $ </td>
    {% endif %}
    {% if tip == "prevzem" %}
        <td class="cene"> {{vnos.cena_nakupa_value}} $ / {{vnos.skupna_cena_nakupa}} $ </td>
        <td class="cene"> {{vnos.cena_value}} $ / {{vnos.skupna_cena}} $</td>
    {% endif %}
    {% if tip != "prenos" or status == "aktivno" %}
        {% if status != "zaklenjeno" %}
            <td>
                <button class="{{vnos.pk}}" onclick="ToggleClass('.{{vnos.pk}}','skrit')"> E </button>
                <button class="{{vnos.pk}}" onclick="Izbrisi_vnos('{{vnos.pk}}')"> X </button>
                <button class="{{vnos.pk}} skrit"  onclick="spremeni_vnos('{{vnos.pk}}')"> Ok </button>
                <button class="{{vnos.pk}} skrit" onclick="ToggleClass('.{{vnos.pk}}','skrit')"> X </button>
            </td>
        {% endif %}
    {% endif %}
</tr>