{% load zaloga_exstras %}

{% if not vnos %}
    <tr id="empty_row" class="skrit">
{% else %}
    <tr class="vnos_row" data-vnos="{{vnos.id}}" data-radij="{{vnos.radij}}" data-tip="{{vnos.kratek_tip}}">
{% endif %}

    <td class="index">  {{index}}. </td>
    <td class="dimenzija"> {{vnos.dimenzija}} </td>
    <td class="tip"> {{vnos.tip}} </td>
    <td class="stevilo">
        <div class="stevilo sprememba">{{vnos.stevilo}}</div>
        <div class="skrit sprememba">
            <input class="stevilo" type="number" min=1 max="999" placeholder="({{vnos.stevilo}})" autocomplete="off">
        <div>
    </td>
    <td class="skrit cena"> 
        <div class="cena_vnosa sprememba">{{vnos.cena}} $</div>
        <div class="sprememba skrit">
            <input class="inline cena_vnosa" type="number" min=0 step="0.01" name="cena" placeholder="({{vnos.cena}} $)" autocomplete="off">
            <div class="inline"> $ </div>
        </div>
    </td>
    <td class="skrit skupnaCena"> {{vnos.skupna_cena}} $ </td>
    <td class="edit">
        <div class="sprememba">
            <button class="show_spremeni_vnos_button"> E </button>
            <button class="izbrisi_vnos_button"> X </button>
        </div>
        <div class="sprememba skrit">
            <button class="spremeni_vnos_button"> Ok </button>
            <button class="show_spremeni_vnos_button"> X </button>
        </div>
    </td>
</tr>