
{% load zaloga_exstras %}

<style class="navbar">
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
        height:12%}

    .navbar a{
        float: left;
        font-size: 5vmin;
        color: white;
        text-align: center;
        padding: 18px 16px;
        text-decoration:none;
        height:100%;}

    .navbar .dropdown a{
        width:100%;
        height:100%;
    }

    .navbar .dropdown, .nav {
        float: left;
        height:100%;
        width:100%;
        margin:0;
        overflow:hidden;}

    .navbar .dropdown .dropbtn, .nav {
    font-size: 5vmin; 
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
    width:100%;
    height:100%;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    }

    .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:300px
    }

    .navbar .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

    .navbar .dropdown-content a:hover {
    background-color: #ddd;
    }

    .navbar .dropdown:hover .dropdown-content {
    display: block;
    } 

    .navbar .racun {
        float:right;
        width:300px;
        overflow:hidden
    }
    .navbar .show {
    display: block;
    }

</style>

<style class="sidenav" >
    /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
    display:none
  }

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 5vmin;
    font-family:Arial;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    background-color: #f1f1f1;
  }

  /* Main content */
  .sidenav .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  /* Add an active class to the active dropdown button */
  .sidenav .active {
    background-color: green;
    color: white;
  }

  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .sidenav .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

  /* Optional: Style the caret down icon */
  .sidenav .fa-caret-down {
    float: right;
    padding-right: 8px;
  } 
</style>

<div id="navbar" class="navbar">
    {% if je_stranka %}
        <div style="display:inline-block;width:28%"><a href="{% url 'stranka_pregled_narocil' %}" style="width:100%"> Pregled narocil </a></div>
        <div style="display:inline-block;width:22%"><a href="{% url 'stranka_zgodovina' %}" style="width:100%"> Zgodovina </a></div>
        <a style="width:15%" href="/">Home</a>
    {% else %}
        <button onclick="odpri()" class="nav" style="width:15%"> ☰ </button>
        <a style="width:20%" href="/">Home</a>
    {% endif %}
    <div class="racun dropdown" id="racun">
        <button class="dropbtn" >{{ user.get_username }}
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="profil">
            {% if perms.admin.view_logentry %}
                <a href="{% url 'admin:index' %}"> Admin </a>
            {% endif %}
            <a href="{% url 'profil' %}"> Profil </a>
            <a href="{% url 'logout' %}"> {{slovar|keyvalue:'Odjava'|keyvalue:jezik}} </a>
        </div>
    </div>
</div>

{% if not je_stranka %}
<div id="sidenav" class="sidenav">
    <a style="margin-bottom:10%" onclick="zapri()"> X </a>
    {% if perms.admin.view_logentry %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Pregled'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'pregled_zalog' %}" > Skladisca </a>
            <a href="{% url 'pregled_zaposlenih' %}" > Zaposleni </a>
            <a href="{% url 'pregled_strank' %}"> Stranke </a>
            <a href="{% url 'nova_dimenzija' %}" >{{slovar|keyvalue:'Dodaj dimenzijo'|keyvalue:jezik}}</a>
        </div>
    {% endif %}
        <button class="dropdown-btn"> {{user.profil.aktivna_zaloga.title}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% for skladisce in user.profil.dovoljene_zaloge.all %}
                <form id="myform_{{skladisce.pk}}" method="POST" action="{% url 'spremeni_zalogo' skladisce.pk %}">{% csrf_token %}</form>
                <a href="#" onclick="document.getElementById('myform_{{skladisce.pk}}').submit()">{{skladisce.title}}</a>
            {% endfor %}  
        </div>
    {% if perms.zaloga.view_zaloga %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Zaloga'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'pregled_zaloge' zaloga_pk %}" >{{slovar|keyvalue:'Pregled zaloge'|keyvalue:jezik}}</a>
            {% if perms.zaloga.add_inventura %}
            <a href="{% url 'baze' zaloga_pk 'inventura' %}">{{slovar|keyvalue:'Inventura'|keyvalue:jezik}}</a>
            {% endif %}
            {% if perms.zaloga.view_inventura %}
            <a href="{% url 'arhiv_baz' zaloga_pk 'inventura' %}">{{slovar|keyvalue:'Arhiv inventur'|keyvalue:jezik}}</a>
            {% endif %}
        </div>
    {% endif %}
    {% if false %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Odpis'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% if perms.zaloga.add_odpis %}
            <a href="{% url 'baze' zaloga_pk 'odpis' %}">{{slovar|keyvalue:'Odpis'|keyvalue:jezik}}</a>
            {% endif %}
            <a href="{% url 'arhiv_baz' zaloga_pk 'odpis'%}">{{slovar|keyvalue:'Arhiv odpisov'|keyvalue:jezik}}</a>
        </div>
    {% endif %}
    {% if perms.zaloga.view_prevzem %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Prevzem'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% if perms.zaloga.add_prevzem %}
            <a href="{% url 'baze' zaloga_pk 'prevzem' %}">{{slovar|keyvalue:'Prevzem'|keyvalue:jezik}}</a>
            {% endif %}
            <a href="{% url 'arhiv_baz' zaloga_pk 'prevzem' %}">{{slovar|keyvalue:'Arhiv prevzemov'|keyvalue:jezik}}</a>
        </div>
    {% endif %}
    {% if perms.zaloga.view_prevzem %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Prenos'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% if perms.zaloga.add_prevzem %}
            <a href="{% url 'baze' zaloga_pk 'prenos' %}">{{slovar|keyvalue:'Prenos'|keyvalue:jezik}}</a>
            {% endif %}
            <a href="{% url 'arhiv_baz' zaloga_pk 'prenos' %}">{{slovar|keyvalue:'Arhiv prenosov'|keyvalue:jezik}}</a>
        </div>
    {% endif %}
    {% if perms.prodaja.view_prodaja and zaloga|ima_prodajo:"vele_prodaja"  %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Prodaja'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% if perms.prodaja.add_vele_prodaja %}
                <a href="{% url 'baze' zaloga_pk 'vele_prodaja' %}">{{slovar|keyvalue:'Nova vele prodaja'|keyvalue:jezik}}</a>
            {% endif %}
            {% if perms.prodaja.view_stranka %}
                <a href="{% url 'pregled_strank' %}">{{slovar|keyvalue:'Pregled strank'|keyvalue:jezik}}</a>
            {% endif %}
            {% if perms.prodaja.view_vele_prodaja %}
                <a href="{% url 'arhiv_baz' zaloga_pk 'vele_prodaja' %}">{{slovar|keyvalue:'Arhiv vele prodaj'|keyvalue:jezik}}</a>
            {% endif %}
            <a href="{% url 'cenik_prodaje' 'vele_prodaja' %}">{{slovar|keyvalue:'Cenik vele prodaje'|keyvalue:jezik}}</a>
        </div>
    {% endif %}
    {% if perms.prodaja.add_dnevna_prodaja and zaloga|ima_prodajo:"dnevna_prodaja"  %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Dnevna prodaja'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'dnevna_prodaja' zaloga.pk %}">{{slovar|keyvalue:'Dnevna prodaja'|keyvalue:jezik}}</a>
            <a href="{% url 'cenik_prodaje' 'dnevna_prodaja' %}">{{slovar|keyvalue:'Cenik dnevne prodaje'|keyvalue:jezik}}</a>
            {% if perms.prodaja.view_dnevna_prodaja %}
                <a href="{% url 'arhiv_baz' zaloga_pk 'dnevna_prodaja' %}">{{slovar|keyvalue:'Arhiv dnevnih prodaj'|keyvalue:jezik}}</a>
            {% endif %}
        </div>
    {% endif %}
    {% if perms.zaloga.add_strosek %}
        <button class="dropdown-btn">{{slovar|keyvalue:'Stroski'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'strosek'%}">{{slovar|keyvalue:'Nov strosek'|keyvalue:jezik}}</a>
            {% if perms.zaloga.view_stroski_group %}
                <a href="{% url 'pregled_stroskov' %}">{{slovar|keyvalue:'Pregled'|keyvalue:jezik}}</a>
            {% endif %}
        </div>
    {% endif %}
    {% if perms.zaloga.view_stroski_group %}
        <button class="dropdown-btn"> {{slovar|keyvalue:'Porocilo'|keyvalue:jezik}}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'porocilo_prometa' %}"> {{slovar|keyvalue:'Porocilo prometa'|keyvalue:jezik}}</a>
            <a href="{% url 'porocilo_prodaje' %}"> {{slovar|keyvalue:'Porocilo prodaje'|keyvalue:jezik}}</a>
        </div>
    {% endif %}
    {% if perms.admin.view_logentry %}
        <button class="dropdown-btn"> Narocilo
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'baze' zaloga_pk 'narocilo' %}">Narocilo</a>
        </div>
    {% endif %}
</div>
{% endif %}
<script>
    function odpri() {
        document.getElementById('sidenav').style.display = "block"
    }
    function zapri() {
        document.getElementById('sidenav').style.display = "none"
    }
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
    });
    } 
    
</script>