<style>
    table.tabela_vnosov{
        width:100%;
        border-spacing:0;
        border: 2px solid black;
        border-collapse: collapse; 
        padding:0.5%;
        table-layout:"fixed"
    }

    table.tabela_vnosov th{
        border: 2px solid black;
        border-collapse: collapse;
        font-size: 150%;
    }

    table.tabela_vnosov td{
        font-size: 100%;
        text-align: center;
        border: 1px solid grey;
        padding: 1vmin;
        border-collapse: collapse;
    }

    table.tabela_podatkov{
        width:100%;
        margin-bottom:1%;
    }
    table.tabela_podatkov td.info{
        width:12%;
        font-size: 100%;
        text-align: left;
    }
    table.tabela_podatkov td.podatek{
        width:20%;
        font-size: 100%;
        text-align: left;
    }

</style>